In [1]:
import pandas as pd
import numpy as np
import timeit
from datetime import datetime
pd.set_option('display.max_columns', 999)
import magic_feature_maker

In [1]:
import pandas as pd
import numpy as np
import timeit
from datetime import datetime
pd.set_option('display.max_columns', 999)
import feature_engineering_multi

In [2]:
df=pd.read_csv('Fire_Dep_Cal_100k.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (25,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
start_time = timeit.default_timer()
feature_engineering_multi.drop_useless(df)
elapsed = timeit.default_timer() - start_time
print('It took: '+ str(elapsed) + ' seconds to run it.'+ str(elapsed/60)+'min')

It took: 106.7699711190071 to run it.

In [11]:
print('It took: '+ str(elapsed) + ' seconds to run it.'+ str(elapsed/60)+' min')

It took: 106.7699711190071 seconds to run it.1.7794995186501184 min

In [4]:
df.head(3)

,Unit ID,Call Type,Call Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,RowID,Call to Dispatch,Respond to On Scene,Respond to Available,On Scene to Available,Total Call to Available,Hospital or Transport
0,E18,Medical Incident,04/12/2000,2000-04-12 21:00:29,04/12/2000 09:01:40 PM,2000-04-12 21:02:00,NaT,NaT,NaT,NaT,NaT,94116,3,False,NaN,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",001030101-E18,00:01:31,NaT,NaT,NaT,NaT,1
1,M14,Medical Incident,04/12/2000,2000-04-12 21:09:02,04/12/2000 09:10:17 PM,2000-04-12 21:10:29,2000-04-12 21:12:11,2000-04-12 21:19:36,2000-04-12 21:43:57,2000-04-12 22:03:33,2000-04-12 22:23:57,94122,3,True,NaN,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",001030104-M14,00:01:27,00:07:25,01:11:46,01:04:21,01:14:55,0
2,M36,Medical Incident,04/12/2000,2000-04-12 21:09:44,04/12/2000 09:10:56 PM,2000-04-12 21:11:47,NaT,2000-04-12 21:14:11,2000-04-12 21:59:31,2000-04-12 22:10:06,2000-04-12 22:43:40,94102,3,False,NaN,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",001030106-M36,00:02:03,NaT,NaT,01:29:29,01:33:56,0

In [9]:
df.drop(columns=['Call Number','Incident Number', 'Watch Date', 'Call Final Disposition', 'Address', 
                      'City', 'Battalion','Station Area', 'Box', 'Priority', 'Final Priority',
                      'Fire Prevention District', 'Supervisor District'], inplace=True)

In [11]:
	zipcodes = df[['Neighborhooods - Analysis Boundaries','Zipcode of Incident']]
	zipcodes = zipcodes[zipcodes['Zipcode of Incident'].notnull()]
	zips= list(zipcodes['Zipcode of Incident'].values)
	nbhds= list(zipcodes['Neighborhooods - Analysis Boundaries'].values)

In [14]:
len(zips) == len(nbhds)
zipcodes_dict=dict(zip(nbhds,zips))

In [16]:
df['Zipcode of Incident'] = df['Zipcode of Incident'].fillna(df['Neighborhooods - Analysis Boundaries'].map(zipcodes_dict))
df['Zipcode of Incident'] = df['Zipcode of Incident'].astype(int)

In [17]:
q = df['Original Priority'].value_counts(normalize=True) #counts share of valeus in col w/o N/A
orig_prio_list = q.index.tolist()  #makes indeces(priorities types) to a list
orig_prio_shares = q.tolist() #makes values of shares a list
df['Original Priority'] = df['Original Priority'].fillna(pd.Series(np.random.choice(orig_prio_list, p=orig_prio_shares, size=len(df))))

In [18]:
df

,Unit ID,Call Type,Call Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,RowID
0,E18,Medical Incident,04/12/2000,04/12/2000 09:00:29 PM,04/12/2000 09:01:40 PM,04/12/2000 09:02:00 PM,NaN,NaN,NaN,NaN,NaN,94116,3,False,NaN,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",001030101-E18
1,M14,Medical Incident,04/12/2000,04/12/2000 09:09:02 PM,04/12/2000 09:10:17 PM,04/12/2000 09:10:29 PM,04/12/2000 09:12:11 PM,04/12/2000 09:19:36 PM,04/12/2000 09:43:57 PM,04/12/2000 10:03:33 PM,04/12/2000 10:23:57 PM,94122,3,True,NaN,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",001030104-M14
2,M36,Medical Incident,04/12/2000,04/12/2000 09:09:44 PM,04/12/2000 09:10:56 PM,04/12/2000 09:11:47 PM,NaN,04/12/2000 09:14:11 PM,04/12/2000 09:59:31 PM,04/12/2000 10:10:06 PM,04/12/2000 10:43:40 PM,94102,3,False,NaN,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",001030106-M36
3,E01,Alarms,04/12/2000,04/12/2000 09:13:47 PM,04/12/2000 09:13:51 PM,04/12/2000 09:14:13 PM,04/12/2000 09:15:58 PM,04/12/2000 09:20:12 PM,NaN,NaN,04/12/2000 09:24:19 PM,94102,3,False,NaN,1,ENGINE,3,Tenderloin,"(37.7825474000421, -122.412247935495)",001030107-E01
4,RS1,Medical Incident,04/12/2000,04/12/2000 09:14:43 PM,04/12/2000 09:16:11 PM,04/12/2000 09:16:24 PM,04/12/2000 09:18:20 PM,04/12/2000 09:20:08 PM,NaN,NaN,04/12/2000 09:20:36 PM,94108,3,False,NaN,1,RESCUE SQUAD,2,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",001030108-RS1
5,T03,Citizen Assist / Service Call,04/12/2000,04/12/2000 09:24:27 PM,04/12/2000 09:24:54 PM,04/12/2000 09:25:10 PM,04/12/2000 09:27:10 PM,04/12/2000 09:30:26 PM,NaN,NaN,04/12/2000 09:44:28 PM,94109,3,False,NaN,1,TRUCK,1,Nob Hill,"(37.7884388430214, -122.414352343522)",001030112-T03
6,E38,Electrical Hazard,04/12/2000,04/12/2000 09:25:55 PM,04/12/2000 09:28:06 PM,04/12/2000 09:28:46 PM,04/12/2000 09:29:59 PM,04/12/2000 09:31:18 PM,NaN,NaN,04/12/2000 09:39:36 PM,94109,3,False,NaN,1,ENGINE,1,Nob Hill,"(37.7903696585646, -122.422328957341)",001030116-E38
7,E15,Odor (Strange / Unknown),04/12/2000,04/12/2000 09:27:55 PM,04/12/2000 09:28:38 PM,04/12/2000 09:30:27 PM,04/12/2000 09:31:43 PM,04/12/2000 09:34:57 PM,NaN,NaN,04/12/2000 09:38:24 PM,94112,3,False,NaN,1,ENGINE,1,Outer Mission,"(37.7183153380753, -122.441921085449)",001030117-E15
8,E08,Medical Incident,04/12/2000,04/12/2000 09:27:45 PM,04/12/2000 09:28:58 PM,04/12/2000 09:29:21 PM,04/12/2000 09:31:26 PM,04/12/2000 09:32:34 PM,NaN,NaN,04/12/2000 09:45:28 PM,94134,3,False,NaN,1,ENGINE,1,None,"(37.7750268633971, -122.392346204303)",001030118-E08
9,M17,Medical Incident,04/12/2000,04/12/2000 09:29:54 PM,04/12/2000 09:30:16 PM,04/12/2000 09:31:26 PM,04/12/2000 09:32:41 PM,04/12/2000 09:37:43 PM,04/12/2000 09:48:49 PM,NaN,04/12/2000 10:31:08 PM,94124,1,True,NaN,1,MEDIC,1,Bayview Hunters Point,"(37.7335924152271, -122.38701801742)",001030119-M17
10,E13,Alarms,04/12/2000,04/12/2000 09:30:54 PM,04/12/2000 09:30:57 PM,04/12/2000 09:31:23 PM,04/12/2000 09:34:01 PM,04/12/2000 09:34:30 PM,NaN,NaN,04/12/2000 09:50:48 PM,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7942116655012, -122.402644729189)",001030120-E13
11,M18,Medical Incident,04/12/2000,04/12/2000 09:31:55 PM,04/12/2000 09:33:48 PM,04/12/2000 09:34:10 PM,04/12/2000 09:35:59 PM,04/12/2000 09:45:22 PM,NaN,NaN,04/12/2000 09:49:52 PM,94122,1,False,NaN,1,MEDIC,1,Sunset/Parkside,"(37.763482287794, -122.477678638767)",001030122-M18
12,M09,Medical Incident,04/12/2000,04/12/2000 09:41:20 PM,04/12/2000 09:41:39 PM,04/12/2000 09:43:19 PM,04/12/2000 09:46:26 PM,04/12/2000 09:52:57 PM,NaN,NaN,04/12/2000 10:00:32 PM,94110,1,True,NaN,1,MEDIC,1,Mission,"(37.7572324112144, -122.415626198524)",001030124-M09
13,E08,Medical Incident,04/12/2000,04/12/2000 09:46:09 PM,04/12/2000 09:46:09 PM,04/12/2000 09:46:09 PM,NaN,NaN,NaN,NaN,04/12/2000 09:48:27 PM,94107,3,False,NaN,1,ENGINE,1,Mission Bay,"(37.7763329756243, -122.394035065186)",001030127-E08
14,E05,Alarms,04/12/2000,04/12/2000 09:45:28 PM,04/12/2000 09:46:21 PM,04/12/2000 09:46:45 PM,04/12/2000 09:48:07 PM,04/12/2000 09:49:45 PM,NaN,NaN,04/12/2000 10:19:27 PM,94115,3,False,NaN,1,ENGINE,1,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-E05
15,T06,Alarms,04/12/2000,04/12/2000 09:45:28 PM,04/12/2000 09:46:21 PM,04/12/2000 09:46:45 PM,04/12/2000 09:47:44 PM,04/12/2000 09:50:09 PM,NaN,NaN,04/12/2000 10:17:00 PM,94115,3,False,NaN,1,TRUCK,2,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-T06
16,M18,Medical Incident,04/12/2000,04/12/2000 09:49:20 PM,04/12/2000 09:50:14 PM,04/12/2000 09:50:44 PM,04/12/2000 09:57:02 PM,04/12/2000 10:02:05 PM,NaN,NaN,04/12/2000 10:08:16 PM,94116,2,False,NaN,1,MEDIC,1,Sunset/Parkside,"(37.7383172638778, -122.499533373462)",001030130-M18
17,E39,Other,04/12/2000,04/12/2000 09:53:20 PM,04/12/2000 09:54:32 PM,04/12/2000 09:54:49 PM,NaN,04/12/2000 10:05:03 PM,NaN,NaN,04/12/2000 10:22:22 PM,94127,3,False,NaN,1,ENGINE,1,West of Twin Peaks,"(37.738002083532, -122.446449647871)",001030132-E39
18,M10,Medical Incident,04/12/2000,04/12/2000 09:57:18 PM,04/12/2000 09:59:07 PM,04/12/2000 09:59:19 PM,04/12/2000 10:00:04 PM,04/12/2000 10:05:03 PM,NaN,NaN,04/12/2000 11:16:36 PM,94118,3,False,NaN,1,MEDIC,1,Lone Mountain/USF,"(37.7781665631084, -122.450200042476)",001030135-M10
19,E33,Structure Fire,04/12/2000,04/12/2000 10:04:42 PM,04/12/2000 10:04:46 PM,04/12/2000 10:04:58 PM,04/12/2000 10:06:03 PM,04/12/2000 10:08:46 PM,NaN,NaN,04/12/2000 10:10:19 PM,94112,3,False,NaN,1,ENGINE,1,Oceanview/Merced/Ingleside,"(37.7131720494385, -122.459024434517)",001030136-E33
20,E36,Medical Incident,04/12/2000,04/12/2000 10:05:41 PM,04/12/2000 10:06:59 PM,04/12/2000 10:07:11 PM,04/12/2000 10:08:08 PM,04/12/2000 10:09:30 PM,NaN,NaN,04/12/2000 10:12:38 PM,94103,3,False,NaN,1,ENGINE,1,South of Market,"(37.7762305177878, -122.414711004673)",001030138-E36
21,M41,Medical Incident,04/12/2000,04/12/2000 10:06:10 PM,04/12/2000 10:07:24 PM,04/12/2000 10:08:04 PM,04/12/2000 10:10:47 PM,04/12/2000 10:20:31 PM,NaN,NaN,04/12/2000 11:18:29 PM,94102,1,True,NaN,1,MEDIC,1,Tenderloin,"(37.7841909047888, -122.410119483452)",001030139-M41
22,K439,Medical Incident,04/12/2000,04/12/2000 10:08:59 PM,04/12/2000 10:11:22 PM,04/12/2000 10:13:08 PM,04/12/2000 10:17:11 PM,04/12/2000 10:19:49 PM,04/12/2000 10:23:38 PM,04/12/2000 10:51:51 PM,04/12/2000 10:52:39 PM,94115,2,False,NaN,1,PRIVATE,1,Pacific Heights,"(37.7851959510121, -122.440715841453)",001030142-K439
23,E10,Other,04/12/2000,04/12/2000 10:12:12 PM,04/12/2000 10:14:28 PM,04/12/2000 10:14:58 PM,04/12/2000 10:16:26 PM,04/12/2000 10:19:01 PM,NaN,NaN,04/12/2000 10:25:19 PM,94118,3,False,NaN,1,ENGINE,1,Presidio Heights,"(37.7828208961152, -122.454351033841)",001030143-E10
24,RA13,Medical Incident,04/12/2000,04/12/2000 10:19:06 PM,04/12/2000 10:20:31 PM,04/12/2000 10:22:31 PM,04/12/2000 10:23:23 PM,04/12/2000 10:34:16 PM,NaN,04/12/2000 11:12:29 PM,04/12/2000 11:29:15 PM,94103,1,False,NaN,1,AIRPORT,1,South of Market,"(37.7815374331217, -122.409518341416)",001030144-RA13
25,M05,Medical Incident,04/12/2000,04/12/2000 10:29:10 PM,04/12/2000 10:30:41 PM,04/12/2000 10:32:34 PM,04/12/2000 10:34:47 PM,04/12/2000 10:37:28 PM,04/12/2000 10:41:39 PM,04/12/2000 10:53:49 PM,04/12/2000 11:10:27 PM,94117,E,False,NaN,1,MEDIC,1,Haight Ashbury,"(37.7691652248423, -122.453536875377)",001030148-M05
26,M36,Medical Incident,04/12/2000,04/12/2000 10:43:54 PM,04/12/2000 10:45:53 PM,04/12/2000 10:49:59 PM,04/12/2000 10:50:35 PM,04/12/2000 10:53:18 PM,04/12/2000 11:11:36 PM,04/12/2000 11:22:17 PM,04/12/2000 11:42:43 PM,94103,1,False,NaN,1,MEDIC,1,Mission,"(37.7741251002903, -122.418810211803)",001030154-M36
27,M03,Medical Incident,04/12/2000,04/12/2000 11:06:10 PM,04/12/2000 11:06:57 PM,04/12/2000 11:08:11 PM,04/12/2000 11:10:20 PM,04/12/2000 11:16:11 PM,04/12/2000 11:38:46 PM,04/13/2000 12:04:40 AM,04/13/2000 12:15:33 AM,94102,1,True,NaN,1,MEDIC,1,Tenderloin,"(37.782943523582, -122.419988441304)",001030159-M03
28,M14,Medical Incident,04/12/2000,04/12/2000 11:15:09 PM,04/12/2000 11:16:44 PM,04/12/2000 11:17:04 PM,04/12/2000 11:17:45 PM,04/12/2000 11:21:24 PM,04/13/2000 12:02:32 AM,04/13/2000 12:02:36 AM,04/13/2000 12:24:07 AM,94118,3,True,NaN,1,MEDIC,2,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-M14
29,RC2,Medical Incident,04/12/2000,04/12/2000 11:15:09 PM,04/12/2000 11:16:44 PM,04/12/2000 11:17:04 PM,04/12/2000 11:19:54 PM,NaN,NaN,NaN,04/12/2000 11:49:28 PM,94118,3,True,NaN,1,RESCUE CAPTAIN,4,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-RC2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,E35,Alarms,09/25/2000,09/25/2000 08:49:47 AM,09/25/2000 08:50:29 AM,09/25/2000 08:50:36 AM,NaN,09/25/2000 08:53:28 AM,NaN,NaN,09/25/2000 08:56:13 AM,94105,3,False,NaN,1,ENGINE,1,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-E35
99971,T13,Alarms,09/25/2000,09/25/2000 08:49:47 AM,09/25/2000 08:50:29 AM,09/25/2000 08:50:36 AM,09/25/2000 08:54:23 AM,09/25/2000 08:55:21 AM,NaN,NaN,09/25/2000 08:56:11 AM,94105,3,False,NaN,1,TRUCK,2,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-T13
99972,E24,Medical Incident,09/25/2000,09/25/2000 08:52:21 AM,09/25/2000 08:53:30 AM,09/25/2000 08:53:37 AM,09/25/2000 08:54:51 AM,09/25/2000 08:56:39 AM,NaN,NaN,09/25/2000 09:06:42 AM,94114,3,False,NaN,1,ENGINE,1,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-E24
99973,M07,Medical Incident,09/25/2000,09/25/2000 08:52:21 AM,09/25/2000 08:53:30 AM,09/25/2000 08:53:37 AM,09/25/2000 08:54:21 AM,09/25/2000 08:58:48 AM,09/25/2000 09:16:34 AM,NaN,09/25/2000 09:57:38 AM,94114,3,True,NaN,1,MEDIC,2,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-M07
99974,E12,Medical Incident,09/25/2000,09/25/2000 09:03:55 AM,09/25/2000 09:05:44 AM,09/25/2000 09:06:04 AM,09/25/2000 09:08:00 AM,NaN,NaN,NaN,09/25/2000 09:09:14 AM,94117,3,False,NaN,1,ENGINE,2,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-E12
99975,M12,Medical Incident,09/25/2000,09/25/2000 09:03:55 AM,09/25/2000 09:05:44 AM,09/25/2000 09:06:04 AM,09/25/2000 09:07:26 AM,NaN,09/25/2000 09:20:57 AM,09/25/2000 09:29:56 AM,09/25/2000 09:47:03 AM,94117,3,True,NaN,1,MEDIC,1,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-M12
99976,B01,Alarms,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:11:03 AM,NaN,NaN,NaN,09/25/2000 09:20:11 AM,94111,3,False,NaN,1,CHIEF,3,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-B01
99977,E13,Alarms,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:10:27 AM,09/25/2000 09:11:04 AM,NaN,NaN,09/25/2000 09:20:11 AM,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-E13
99978,T13,Alarms,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:10:54 AM,NaN,09/25/2000 09:11:52 AM,NaN,09/25/2000 09:22:03 AM,94111,3,False,NaN,1,TRUCK,2,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-T13
99979,E01,Medical Incident,09/25/2000,09/25/2000 09:10:48 AM,09/25/2000 09:12:13 AM,09/25/2000 09:12:25 AM,09/25/2000 09:12:42 AM,09/25/2000 09:13:26 AM,NaN,NaN,09/25/2000 09:16:08 AM,94103,3,False,NaN,1,ENGINE,1,South of Market,"(37.7839914857614, -122.408066547804)",002690067-E01
99980,M01,Medical Incident,09/25/2000,09/25/2000 09:10:48 AM,09/25/2000 09:12:13 AM,09/25/2000 09:12:25 AM,09/25/2000 09:12:57 AM,09/25/2000 09:15:18 AM,09/25/2000 09:20:36 AM,09/25/2000 09:47:14 AM,09/25/2000 10:13:56 AM,94103,3,True,NaN,1,MEDIC,2,South of Market,"(37.7839914857614, -122.408066547804)",002690067-M01
99981,K968,Medical Incident,09/25/2000,09/25/2000 09:21:30 AM,09/25/2000 09:23:14 AM,09/25/2000 09:26:27 AM,09/25/2000 09:26:35 AM,09/25/2000 09:41:58 AM,NaN,NaN,09/25/2000 10:32:52 AM,94116,1,False,NaN,1,PRIVATE,1,Sunset/Parkside,"(37.738928542073, -122.505563264161)",002690068-K968
99982,E01,Medical Incident,09/25/2000,09/25/2000 09:23:27 AM,09/25/2000 09:26:02 AM,09/25/2000 09:26:13 AM,09/25/2000 09:26:55 AM,09/25/2000 09:29:45 AM,NaN,NaN,09/25/2000 09:38:17 AM,94102,3,False,NaN,1,ENGINE,1,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-E01
99983,M36,Medical Incident,09/25/2000,09/25/2000 09:23:27 AM,09/25/2000 09:26:02 AM,09/25/2000 09:26:13 AM,09/25/2000 09:27:42 AM,09/25/2000 09:30:51 AM,09/25/2000 09:44:49 AM,09/25/2000 09:55:12 AM,NaN,94102,3,True,NaN,1,MEDIC,2,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-M36
99984,E03,Medical Incident,09/25/2000,09/25/2000 09:29:03 AM,09/25/2000 09:30:32 AM,09/25/2000 09:30:39 AM,NaN,NaN,09/25/2000 09:32:50 AM,NaN,09/25/2000 09:40:16 AM,94102,3,True,NaN,1,ENGINE,2,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-E03
99985,M03,Medical Incident,09/25/2000,09/25/2000 09:29:03 AM,09/25/2000 09:30:32 AM,09/25/2000 09:30:39 AM,09/25/2000 09:31:43 AM,NaN,09/25/2000 09:50:32 AM,09/25/2000 09:54:49 AM,09/25/2000 10:12:33 AM,94102,3,True,NaN,1,MEDIC,1,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-M03
99986,E08,Medical Incident,09/25/2000,09/25/2000 09:34:04 AM,09/25/2000 09:34:21 AM,09/25/2000 09:34:27 AM,09/25/2000 09:36:08 AM,09/25/2000 09:37:22 AM,NaN,NaN,09/25/2000 09:42:23 AM,94107,3,True,NaN,1,ENGINE,2,South of Market,"(37.7800897302982, -122.394300038467)",002690072-E08
99987,M08,Medical Incident,09/25/2000,09/25/2000 09:34:04 AM,09/25/2000 09:34:21 AM,09/25/2000 09:34:27 AM,09/25/2000 09:35:42 AM,09/25/2000 09:36:40 AM,NaN,NaN,09/25/2000 10:08:43 AM,94107,3,True,NaN,1,MEDIC,1,South of Market,"(37.7800897302982, -122.394300038467)",002690072-M08
99988,E07,Medical Incident,09/25/2000,09/25/2000 09:33:44 AM,09/25/2000 09:35:02 AM,09/25/2000 09:35:07 AM,09/25/2000 09:36:11 AM,09/25/2000 09:37:20 AM,NaN,NaN,09/25/2000 09:45:43 AM,94110,3,False,NaN,1,ENGINE,1,Mission,"(37.7643732096664, -122.417478491468)",002690073-E07
99989,M05,Medical Incident,09/25/2000,09/25/2000 09:33:44 AM,09/25/2000 09:35:02 AM,09/25/2000 09:35:07 AM,09/25/2000 09:35:22 AM,09/25/2000 09:40:54 AM,09/25/2000 10:02:09 AM,NaN,09/25/2000 10:34:41 AM,94110,3,True,NaN,1,MEDIC,2,Mission,"(37.7643732096664, -122.417478491468)",002690073-M05
99990,E32,Medical Incident,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,09/25/2000 09:36:49 AM,09/25/2000 09:38:35 AM,NaN,NaN,09/25/2000 10:09:56 AM,94110,3,False,NaN,1,ENGINE,1,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-E32
99991,M09,Medical Incident,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,NaN,NaN,NaN,NaN,09/25/2000 09:37:50 AM,94110,3,True,NaN,1,MEDIC,3,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M09
99992,M17,Medical Incident,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,09/25/2000 09:38:01 AM,09/25/2000 09:43:26 AM,09/25/2000 09:52:25 AM,09/25/2000 10:14:34 AM,09/25/2000 10:55:41 AM,94110,3,True,NaN,1,MEDIC,2,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M17
99993,E38,Alarms,09/25/2000,09/25/2000 09:37:43 AM,09/25/2000 09:38:30 AM,09/25/2000 09:38:38 AM,09/25/2000 09:40:20 AM,09/25/2000 09:42:18 AM,NaN,NaN,09/25/2000 09:44:12 AM,94109,3,False,NaN,1,ENGINE,1,Pacific Heights,"(37.7894646099499, -122.425587859681)",002690075-E38
99994,E44,Medical Incident,09/25/2000,09/25/2000 09:48:37 AM,09/25/2000 09:50:04 AM,09/25/2000 09:50:50 AM,09/25/2000 09:52:00 AM,09/25/2000 09:53:51 AM,NaN,NaN,09/25/2000 09:54:42 AM,94112,3,True,NaN,1,ENGINE,2,Excelsior,"(37.7197250928414, -122.431057873329)",002690076-E44
99995,M35,Medical Incident,09/25/2000,09/25/2000 09:48:37 AM,09/25/2000 09:50:04 AM,09/25/2000 09:50:50 AM,09/25/2000 09:52:12 AM,09/25/2000 09:53:25 AM,09/25/2000 10:13:15 AM,NaN,09/25/2000 11:03:27 AM,94112,3,True,NaN,1,MEDIC,1,Excelsior,"(37.7197250928414, -122.431057873329)",002690076-M35
99996,B02,Medical Incident,09/25/2000,09/25/2000 10:03:20 AM,09/25/2000 10:03:43 AM,09/25/2000 10:03:54 AM,09/25/2000 10:06:57 AM,09/25/2000 10:15:13 AM,NaN,NaN,09/25/2000 10:24:34 AM,94103,3,False,NaN,1,CHIEF,5,South of Market,"(37.7725264425971, -122.410076850083)",002690077-B02
99997,E29,Medical Incident,09/25/2000,09/25/2000 10:03:20 AM,09/25/2000 10:03:43 AM,09/25/2000 10:03:54 AM,09/25/2000 10:05:09 AM,09/25/2000 10:24:37 AM,NaN,NaN,09/25/2000 10:57:03 AM,94103,3,True,NaN,1,ENGINE,6,South of Market,"(37.7725264425971, -122.410076850083)",002690077-E29
99998,M07,Medical Incident,09/25/2000,09/25/2000 10:03:20 AM,09/25/2000 10:03:43 AM,09/25/2000 10:03:54 AM,09/25/2000 10:04:26 AM,09/25/2000 10:07:26 AM,09/25/2000 10:26:52 AM,09/25/2000 10:39:05 AM,09/25/2000 11:04:58 AM,94103,3,True,NaN,1,MEDIC,2,South of Market,"(37.7725264425971, -122.410076850083)",002690077-M07
99999,RC3,Medical Incident,09/25/2000,09/25/2000 10:03:20 AM,09/25/2000 10:03:43 AM,09/25/2000 10:03:54 AM,09/25/2000 10:05:04 AM,09/25/2000 10:11:23 AM,NaN,NaN,09/25/2000 10:30:17 AM,94103,3,True,NaN,1,RESCUE CAPTAIN,4,South of Market,"(37.7725264425971, -122.410076850083)",002690077-RC3

In [3]:
start_time = timeit.default_timer()
magic_feature_maker.magic_feature_maker(df)
elapsed = timeit.default_timer() - start_time
print('It took: '+ str(elapsed) + ' to run it.')

TypeError: 'NoneType' object is not subscriptable

In [4]:
feature_engineering.drop_useless(df)

In [6]:
cols =['Received DtTm', 'Dispatch DtTm', 'Response DtTm','On Scene DtTm', 'Transport DtTm', 'Hospital DtTm', 'Available DtTm']
time_features.read_datetime(cols,df)

In [7]:
time_features.new_time_cols(df)

In [8]:
feature_engineering.fill_na_zipcode(df)

In [9]:
feature_engineering.original_priority_na(df)

In [4]:
df

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Call Final Disposition,Available DtTm,Address,City,Zipcode of Incident,Battalion,Station Area,Box,Original Priority,Priority,Final Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,Location,RowID
0,1030101,E18,306091,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:00:29 PM,04/12/2000 09:01:40 PM,04/12/2000 09:02:00 PM,NaN,NaN,NaN,NaN,Other,NaN,2000 Block of 37TH AVE,SF,94116.0,B08,18.0,757.0,3,3,3,False,NaN,1,ENGINE,1,8,4,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",001030101-E18
1,1030104,M14,30612,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:09:02 PM,04/12/2000 09:10:17 PM,04/12/2000 09:10:29 PM,04/12/2000 09:12:11 PM,04/12/2000 09:19:36 PM,04/12/2000 09:43:57 PM,04/12/2000 10:03:33 PM,Other,04/12/2000 10:23:57 PM,1700 Block of 43RD AVE,SF,94122.0,B08,23.0,7651.0,3,3,3,True,NaN,1,MEDIC,2,8,4,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",001030104-M14
2,1030106,M36,30614,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:09:44 PM,04/12/2000 09:10:56 PM,04/12/2000 09:11:47 PM,NaN,04/12/2000 09:14:11 PM,04/12/2000 09:59:31 PM,04/12/2000 10:10:06 PM,Other,04/12/2000 10:43:40 PM,0 Block of FELL ST,SF,94102.0,B02,36.0,3111.0,3,3,3,False,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7764405100838, -122.418481123408)",001030106-M36
3,1030107,E01,30615,Alarms,04/12/2000,04/12/2000,04/12/2000 09:13:47 PM,04/12/2000 09:13:51 PM,04/12/2000 09:14:13 PM,04/12/2000 09:15:58 PM,04/12/2000 09:20:12 PM,NaN,NaN,Other,04/12/2000 09:24:19 PM,100 Block of JONES ST,SF,94102.0,B03,1.0,1456.0,3,3,3,False,NaN,1,ENGINE,3,3,6,Tenderloin,"(37.7825474000421, -122.412247935495)",001030107-E01
4,1030108,RS1,30616,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:14:43 PM,04/12/2000 09:16:11 PM,04/12/2000 09:16:24 PM,04/12/2000 09:18:20 PM,04/12/2000 09:20:08 PM,NaN,NaN,Other,04/12/2000 09:20:36 PM,700 Block of MARKET ST,SF,94108.0,B03,1.0,1322.0,3,3,3,False,NaN,1,RESCUE SQUAD,2,1,3,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",001030108-RS1
5,1030112,T03,30620,Citizen Assist / Service Call,04/12/2000,04/12/2000,04/12/2000 09:24:27 PM,04/12/2000 09:24:54 PM,04/12/2000 09:25:10 PM,04/12/2000 09:27:10 PM,04/12/2000 09:30:26 PM,NaN,NaN,Other,04/12/2000 09:44:28 PM,800 Block of SUTTER ST,SF,94109.0,B01,3.0,1463.0,3,3,3,False,NaN,1,TRUCK,1,1,3,Nob Hill,"(37.7884388430214, -122.414352343522)",001030112-T03
6,1030116,E38,30624,Electrical Hazard,04/12/2000,04/12/2000,04/12/2000 09:25:55 PM,04/12/2000 09:28:06 PM,04/12/2000 09:28:46 PM,04/12/2000 09:29:59 PM,04/12/2000 09:31:18 PM,NaN,NaN,Other,04/12/2000 09:39:36 PM,CALIFORNIA ST/VAN NESS AV,SF,94109.0,B04,38.0,3155.0,3,3,3,False,NaN,1,ENGINE,1,4,2,Nob Hill,"(37.7903696585646, -122.422328957341)",001030116-E38
7,1030117,E15,30626,Odor (Strange / Unknown),04/12/2000,04/12/2000,04/12/2000 09:27:55 PM,04/12/2000 09:28:38 PM,04/12/2000 09:30:27 PM,04/12/2000 09:31:43 PM,04/12/2000 09:34:57 PM,NaN,NaN,Other,04/12/2000 09:38:24 PM,2100 Block of ALEMANY BLVD,SF,94112.0,B09,15.0,8331.0,3,3,3,False,NaN,1,ENGINE,1,9,11,Outer Mission,"(37.7183153380753, -122.441921085449)",001030117-E15
8,1030118,E08,30625,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:27:45 PM,04/12/2000 09:28:58 PM,04/12/2000 09:29:21 PM,04/12/2000 09:31:26 PM,04/12/2000 09:32:34 PM,NaN,NaN,Other,04/12/2000 09:45:28 PM,4TH ST/CHANNEL ST,SF,NaN,B03,8.0,2226.0,3,3,3,False,NaN,1,ENGINE,1,3,6,None,"(37.7750268633971, -122.392346204303)",001030118-E08
9,1030119,M17,30628,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:29:54 PM,04/12/2000 09:30:16 PM,04/12/2000 09:31:26 PM,04/12/2000 09:32:41 PM,04/12/2000 09:37:43 PM,04/12/2000 09:48:49 PM,NaN,Other,04/12/2000 10:31:08 PM,1400 Block of NEWCOMB AVE,SF,94124.0,B10,17.0,6516.0,1,1,2,True,NaN,1,MEDIC,1,10,10,Bayview Hunters Point,"(37.7335924152271, -122.38701801742)",001030119-M17
10,1030120,E13,30627,Alarms,04/12/2000,04/12/2000,04/12/2000 09:30:54 PM,04/12/2000 09:30:57 PM,04/12/2000 09:31:23 PM,04/12/2000 09:34:01 PM,04/12/2000 09:34:30 PM,NaN,NaN,Other,04/12/2000 09:50:48 PM,500 Block of COMMERCIAL ST,SF,94111.0,B01,13.0,1166.0,3,3,3,False,NaN,1,ENGINE,1,1,3,Chinatown,"(37.7942116655012, -122.402644729189)",001030120-E13
11,1030122,M18,30630,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:31:55 PM,04/12/2000 09:33:48 PM,04/12/2000 09:34:10 PM,04/12/2000 09:35:59 PM,04/12/2000 09:45:22 PM,NaN,NaN,Other,04/12/2000 09:49:52 PM,1800 Block of IRVING ST,SF,94122.0,B08,22.0,7424.0,1,1,2,False,NaN,1,MEDIC,1,8,4,Sunset/Parkside,"(37.763482287794, -122.477678638767)",001030122-M18
12,1030124,M09,30633,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:41:20 PM,04/12/2000 09:41:39 PM,04/12/2000 09:43:19 PM,04/12/2000 09:46:26 PM,04/12/2000 09:52:57 PM,NaN,NaN,Other,04/12/2000 10:00:32 PM,21ST ST/SHOTWELL ST,SF,94110.0,B06,7.0,5455.0,1,1,2,True,NaN,1,MEDIC,1,6,9,Mission,"(37.7572324112144, -122.415626198524)",001030124-M09
13,1030127,E08,30635,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:46:09 PM,04/12/2000 09:46:09 PM,04/12/2000 09:46:09 PM,NaN,NaN,NaN,NaN,Other,04/12/2000 09:48:27 PM,4TH ST/KING ST,SF,94107.0,B03,8.0,2236.0,3,3,3,False,NaN,1,ENGINE,1,3,6,Mission Bay,"(37.7763329756243, -122.394035065186)",001030127-E08
14,1030128,E05,30636,Alarms,04/12/2000,04/12/2000,04/12/2000 09:45:28 PM,04/12/2000 09:46:21 PM,04/12/2000 09:46:45 PM,04/12/2000 09:48:07 PM,04/12/2000 09:49:45 PM,NaN,NaN,Other,04/12/2000 10:19:27 PM,1400 Block of STEINER ST,SF,94115.0,B04,5.0,3623.0,3,3,3,False,NaN,1,ENGINE,1,5,5,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-E05
15,1030128,T06,30636,Alarms,04/12/2000,04/12/2000,04/12/2000 09:45:28 PM,04/12/2000 09:46:21 PM,04/12/2000 09:46:45 PM,04/12/2000 09:47:44 PM,04/12/2000 09:50:09 PM,NaN,NaN,Other,04/12/2000 10:17:00 PM,1400 Block of STEINER ST,SF,94115.0,B04,5.0,3623.0,3,3,3,False,NaN,1,TRUCK,2,5,5,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-T06
16,1030130,M18,30638,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:49:20 PM,04/12/2000 09:50:14 PM,04/12/2000 09:50:44 PM,04/12/2000 09:57:02 PM,04/12/2000 10:02:05 PM,NaN,NaN,Other,04/12/2000 10:08:16 PM,3000 Block of VICENTE ST,SF,94116.0,B08,18.0,7637.0,2,2,2,False,NaN,1,MEDIC,1,8,4,Sunset/Parkside,"(37.7383172638778, -122.499533373462)",001030130-M18
17,1030132,E39,30639,Other,04/12/2000,04/12/2000,04/12/2000 09:53:20 PM,04/12/2000 09:54:32 PM,04/12/2000 09:54:49 PM,NaN,04/12/2000 10:05:03 PM,NaN,NaN,Other,04/12/2000 10:22:22 PM,500 Block of TERESITA BLVD,SF,94127.0,B08,39.0,8645.0,3,3,3,False,NaN,1,ENGINE,1,9,7,West of Twin Peaks,"(37.738002083532, -122.446449647871)",001030132-E39
18,1030135,M10,30642,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:57:18 PM,04/12/2000 09:59:07 PM,04/12/2000 09:59:19 PM,04/12/2000 10:00:04 PM,04/12/2000 10:05:03 PM,NaN,NaN,Other,04/12/2000 11:16:36 PM,2600 Block of TURK BLVD,SF,94118.0,B05,21.0,4564.0,3,3,3,False,NaN,1,MEDIC,1,5,1,Lone Mountain/USF,"(37.7781665631084, -122.450200042476)",001030135-M10
19,1030136,E33,30644,Structure Fire,04/12/2000,04/12/2000,04/12/2000 10:04:42 PM,04/12/2000 10:04:46 PM,04/12/2000 10:04:58 PM,04/12/2000 10:06:03 PM,04/12/2000 10:08:46 PM,NaN,NaN,Other,04/12/2000 10:10:19 PM,BROAD ST/CAPITOL AV,SF,94112.0,B09,33.0,8374.0,3,3,3,False,NaN,1,ENGINE,1,9,11,Oceanview/Merced/Ingleside,"(37.7131720494385, -122.459024434517)",001030136-E33
20,1030138,E36,30646,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:05:41 PM,04/12/2000 10:06:59 PM,04/12/2000 10:07:11 PM,04/12/2000 10:08:08 PM,04/12/2000 10:09:30 PM,NaN,NaN,Other,04/12/2000 10:12:38 PM,9TH ST/MISSION ST,SF,94103.0,B02,36.0,2336.0,3,3,3,False,NaN,1,ENGINE,1,2,6,South of Market,"(37.7762305177878, -122.414711004673)",001030138-E36
21,1030139,M41,30647,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:06:10 PM,04/12/2000 10:07:24 PM,04/12/2000 10:08:04 PM,04/12/2000 10:10:47 PM,04/12/2000 10:20:31 PM,NaN,NaN,Other,04/12/2000 11:18:29 PM,100 Block of EDDY ST,SF,94102.0,B03,1.0,1453.0,1,1,2,True,NaN,1,MEDIC,1,3,6,Tenderloin,"(37.7841909047888, -122.410119483452)",001030139-M41
22,1030142,K439,30650,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:08:59 PM,04/12/2000 10:11:22 PM,04/12/2000 10:13:08 PM,04/12/2000 10:17:11 PM,04/12/2000 10:19:49 PM,04/12/2000 10:23:38 PM,04/12/2000 10:51:51 PM,Other,04/12/2000 10:52:39 PM,2400 Block of SUTTER ST,SF,94115.0,B05,10.0,4155.0,2,2,2,False,NaN,1,PRIVATE,1,5,2,Pacific Heights,"(37.7851959510121, -122.440715841453)",001030142-K439
23,1030143,E10,30651,Other,04/12/2000,04/12/2000,04/12/2000 10:12:12 PM,04/12/2000 10:14:28 PM,04/12/2000 10:14:58 PM,04/12/2000 10:16:26 PM,04/12/2000 10:19:01 PM,NaN,NaN,Other,04/12/2000 10:25:19 PM,100 Block of PARKER AVE,SF,94118.0,B07,10.0,4453.0,3,3,3,False,NaN,1,ENGINE,1,7,2,Presidio Heights,"(37.7828208961152, -122.454351033841)",001030143-E10
24,1030144,RA13,30653,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:19:06 PM,04/12/2000 10:20:31 PM,04/12/2000 10:22:31 PM,04/12/2000 10:23:23 PM,04/12/2000 10:34:16 PM,NaN,04/12/2000 11:12:29 PM,Other,04/12/2000 11:29:15 PM,0 Block of 6TH ST,SF,94103.0,B03,1.0,2248.0,1,1,2,False,NaN,1,AIRPORT,1,3,6,South of Market,"(37.7815374331217, -122.409518341416)",001030144-RA13
25,1030148,M05,30657,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:29:10 PM,04/12/2000 10:30:41 PM,04/12/2000 10:32:34 PM,04/12/2000 10:34:47 PM,04/12/2000 10:37:28 PM,04/12/2000 10:41:39 PM,04/12/2000 10:53:49 PM,Other,04/12/2000 11:10:27 PM,HAIGHT ST/STANYAN ST,SF,94117.0,B05,12.0,4545.0,E,E,3,False,NaN,1,MEDIC,1,7,5,Haight Ashbury,"(37.7691652248423, -122.453536875377)",001030148-M05
26,1030154,M36,30662,Medical Incident,04/12/2000,04/12/2000,04/12/2000 10:43:54 PM,04/12/2000 10:45:53 PM,04/12/2000 10:49:59 PM,04/12/2000 10:50:35 PM,04/12/2000 10:53:18 PM,04/12/2000 11:11:36 PM,04/12/2000 11:22:17 PM,Other,04/12/2000 11:42:43 PM,0 Block of SOUTH VAN NESS AVE,SF,94103.0,B02,36.0,5117.0,1,1,2,False,NaN,1,MEDIC,1,2,6,Mission,"(37.7741251002903, -122.418810211803)",001030154-M36
27,1030159,M03,30668,Medical Incident,04/12/2000,04/12/2000,04/12/2000 11:06:10 PM,04/12/2000 11:06:57 PM,04/12/2000 11:08:11 PM,04/12/2000 11:10:20 PM,04/12/2000 11:16:11 PM,04/12/2000 11:38:46 PM,04/13/2000 12:04:40 AM,Other,04/13/2000 12:15:33 AM,700 Block of EDDY ST,SF,94102.0,B02,3.0,3163.0,1,1,2,True,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.782943523582, -122.419988441304)",001030159-M03
28,1030165,M14,30672,Medical Incident,04/12/2000,04/12/2000,04/12/2000 11:15:09 PM,04/12/2000 11:16:44 PM,04/12/2000 11:17:04 PM,04/12/2000 11:17:45 PM,04/12/2000 11:21:24 PM,04/13/2000 12:02:32 AM,04/13/2000 12:02:36 AM,Other,04/13/2000 12:24:07 AM,300 Block of 11TH AVE,SF,94118.0,B07,31.0,7141.0,3,3,3,True,NaN,1,MEDIC,2,7,1,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-M14
29,1030165,RC2,30672,Medical Incident,04/12/2000,04/12/2000,04/12/2000 11:15:09 PM,04/12/2000 11:16:44 PM,04/12/2000 11:17:04 PM,04/12/2000 11:19:54 PM,NaN,NaN,NaN,Other,04/12/2000 11:49:28 PM,300 Block of 11TH AVE,SF,94118.0,B07,31.0,7141.0,3,3,3,True,NaN,1,RESCUE CAPTAIN,4,7,1,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-RC2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2690063,E35,80742,Alarms,09/25/2000,09/25/2000,09/25/2000 08:49:47 AM,09/25/2000 08:50:29 AM,09/25/2000 08:50:36 AM,NaN,09/25/2000 08:53:28 AM,NaN,NaN,Other,09/25/2000 08:56:13 AM,300 Block of MAIN ST,SF,94105.0,B03,35.0,2117.0,3,3,3,False,NaN,1,ENGINE,1,3,6,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-E35
99971,2690063,T13,80742,Alarms,09/25/2000,09/25/2000,09/25/2000 08:49:47 AM,09/25/2000 08:50:29 AM,09/25/2000 08:50:36 AM,09/25/2000 08:54:23 AM,09/25/2000 08:55:21 AM,NaN,NaN,Other,09/25/2000 08:56:11 AM,300 Block of MAIN ST,SF,94105.0,B03,35.0,2117.0,3,3,3,False,NaN,1,TRUCK,2,3,6,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-T13
99972,2690064,E24,80743,Medical Incident,09/25/2000,09/25/2000,09/25/2000 08:52:21 AM,09/25/2000 08:53:30 AM,09/25/2000 08:53:37 AM,09/25/2000 08:54:51 AM,09/25/2000 08:56:39 AM,NaN,NaN,Other,09/25/2000 09:06:42 AM,100 Block of EUREKA ST,SF,94114.0,B05,6.0,5415.0,3,3,3,False,NaN,1,ENGINE,1,6,8,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-E24
99973,2690064,M07,80743,Medical Incident,09/25/2000,09/25/2000,09/25/2000 08:52:21 AM,09/25/2000 08:53:30 AM,09/25/2000 08:53:37 AM,09/25/2000 08:54:21 AM,09/25/2000 08:58:48 AM,09/25/2000 09:16:34 AM,NaN,Other,09/25/2000 09:57:38 AM,100 Block of EUREKA ST,SF,94114.0,B05,6.0,5415.0,3,3,3,True,NaN,1,MEDIC,2,6,8,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-M07
99974,2690065,E12,80744,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:03:55 AM,09/25/2000 09:05:44 AM,09/25/2000 09:06:04 AM,09/25/2000 09:08:00 AM,NaN,NaN,NaN,Other,09/25/2000 09:09:14 AM,COLE ST/PARNASSUS AV,SF,94117.0,B05,12.0,5153.0,3,3,3,False,NaN,1,ENGINE,2,5,5,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-E12
99975,2690065,M12,80744,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:03:55 AM,09/25/2000 09:05:44 AM,09/25/2000 09:06:04 AM,09/25/2000 09:07:26 AM,NaN,09/25/2000 09:20:57 AM,09/25/2000 09:29:56 AM,Other,09/25/2000 09:47:03 AM,COLE ST/PARNASSUS AV,SF,94117.0,B05,12.0,5153.0,3,3,3,True,NaN,1,MEDIC,1,5,5,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-M12
99976,2690066,B01,80745,Alarms,09/25/2000,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:11:03 AM,NaN,NaN,NaN,Other,09/25/2000 09:20:11 AM,300 Block of BATTERY ST,SF,94111.0,B01,13.0,1161.0,3,3,3,False,NaN,1,CHIEF,3,1,3,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-B01
99977,2690066,E13,80745,Alarms,09/25/2000,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:10:27 AM,09/25/2000 09:11:04 AM,NaN,NaN,Other,09/25/2000 09:20:11 AM,300 Block of BATTERY ST,SF,94111.0,B01,13.0,1161.0,3,3,3,False,NaN,1,ENGINE,1,1,3,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-E13
99978,2690066,T13,80745,Alarms,09/25/2000,09/25/2000,09/25/2000 09:08:54 AM,09/25/2000 09:09:16 AM,09/25/2000 09:09:26 AM,09/25/2000 09:10:54 AM,NaN,09/25/2000 09:11:52 AM,NaN,Other,09/25/2000 09:22:03 AM,300 Block of BATTERY ST,SF,94111.0,B01,13.0,1161.0,3,3,3,False,NaN,1,TRUCK,2,1,3,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-T13
99979,2690067,E01,80746,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:10:48 AM,09/25/2000 09:12:13 AM,09/25/2000 09:12:25 AM,09/25/2000 09:12:42 AM,09/25/2000 09:13:26 AM,NaN,NaN,Other,09/25/2000 09:16:08 AM,5TH ST/MARKET ST,SF,94103.0,B03,1.0,1364.0,3,3,3,False,NaN,1,ENGINE,1,3,6,South of Market,"(37.7839914857614, -122.408066547804)",002690067-E01
99980,2690067,M01,80746,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:10:48 AM,09/25/2000 09:12:13 AM,09/25/2000 09:12:25 AM,09/25/2000 09:12:57 AM,09/25/2000 09:15:18 AM,09/25/2000 09:20:36 AM,09/25/2000 09:47:14 AM,Other,09/25/2000 10:13:56 AM,5TH ST/MARKET ST,SF,94103.0,B03,1.0,1364.0,3,3,3,True,NaN,1,MEDIC,2,3,6,South of Market,"(37.7839914857614, -122.408066547804)",002690067-M01
99981,2690068,K968,80748,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:21:30 AM,09/25/2000 09:23:14 AM,09/25/2000 09:26:27 AM,09/25/2000 09:26:35 AM,09/25/2000 09:41:58 AM,NaN,NaN,Other,09/25/2000 10:32:52 AM,2500 Block of 47TH AVE,SF,94116.0,B08,23.0,7712.0,1,1,2,False,NaN,1,PRIVATE,1,8,4,Sunset/Parkside,"(37.738928542073, -122.505563264161)",002690068-K968
99982,2690069,E01,80747,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:23:27 AM,09/25/2000 09:26:02 AM,09/25/2000 09:26:13 AM,09/25/2000 09:26:55 AM,09/25/2000 09:29:45 AM,NaN,NaN,Other,09/25/2000 09:38:17 AM,1100 Block of MARKET ST,SF,94102.0,B02,27.0,2309.0,3,3,3,False,NaN,1,ENGINE,1,2,6,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-E01
99983,2690069,M36,80747,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:23:27 AM,09/25/2000 09:26:02 AM,09/25/2000 09:26:13 AM,09/25/2000 09:27:42 AM,09/25/2000 09:30:51 AM,09/25/2000 09:44:49 AM,09/25/2000 09:55:12 AM,Other,NaN,1100 Block of MARKET ST,SF,94102.0,B02,27.0,2309.0,3,3,3,True,NaN,1,MEDIC,2,2,6,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-M36
99984,2690070,E03,80749,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:29:03 AM,09/25/2000 09:30:32 AM,09/25/2000 09:30:39 AM,NaN,NaN,09/25/2000 09:32:50 AM,NaN,Other,09/25/2000 09:40:16 AM,600 Block of POST ST,SF,94102.0,B01,3.0,1451.0,3,3,3,True,NaN,1,ENGINE,2,1,3,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-E03
99985,2690070,M03,80749,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:29:03 AM,09/25/2000 09:30:32 AM,09/25/2000 09:30:39 AM,09/25/2000 09:31:43 AM,NaN,09/25/2000 09:50:32 AM,09/25/2000 09:54:49 AM,Other,09/25/2000 10:12:33 AM,600 Block of POST ST,SF,94102.0,B01,3.0,1451.0,3,3,3,True,NaN,1,MEDIC,1,1,3,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-M03
99986,2690072,E08,80750,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:34:04 AM,09/25/2000 09:34:21 AM,09/25/2000 09:34:27 AM,09/25/2000 09:36:08 AM,09/25/2000 09:37:22 AM,NaN,NaN,Other,09/25/2000 09:42:23 AM,3RD ST/BRANNAN ST,SF,94107.0,B03,8.0,2173.0,3,3,3,True,NaN,1,ENGINE,2,3,6,South of Market,"(37.7800897302982, -122.394300038467)",002690072-E08
99987,2690072,M08,80750,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:34:04 AM,09/25/2000 09:34:21 AM,09/25/2000 09:34:27 AM,09/25/2000 09:35:42 AM,09/25/2000 09:36:40 AM,NaN,NaN,Other,09/25/2000 10:08:43 AM,3RD ST/BRANNAN ST,SF,94107.0,B03,8.0,2173.0,3,3,3,True,NaN,1,MEDIC,1,3,6,South of Market,"(37.7800897302982, -122.394300038467)",002690072-M08
99988,2690073,E07,80751,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:33:44 AM,09/25/2000 09:35:02 AM,09/25/2000 09:35:07 AM,09/25/2000 09:36:11 AM,09/25/2000 09:37:20 AM,NaN,NaN,Other,09/25/2000 09:45:43 AM,500 Block of SOUTH VAN NESS AVE,SF,94110.0,B02,7.0,5246.0,3,3,3,False,NaN,1,ENGINE,1,2,9,Mission,"(37.7643732096664, -122.417478491468)",002690073-E07
99989,2690073,M05,80751,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:33:44 AM,09/25/2000 09:35:02 AM,09/25/2000 09:35:07 AM,09/25/2000 09:35:22 AM,09/25/2000 09:40:54 AM,09/25/2000 10:02:09 AM,NaN,Other,09/25/2000 10:34:41 AM,500 Block of SOUTH VAN NESS AVE,SF,94110.0,B02,7.0,5246.0,3,3,3,True,NaN,1,MEDIC,2,2,9,Mission,"(37.7643732096664, -122.417478491468)",002690073-M05
99990,2690074,E32,80752,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,09/25/2000 09:36:49 AM,09/25/2000 09:38:35 AM,NaN,NaN,Other,09/25/2000 10:09:56 AM,0 Block of GATES ST,SF,94110.0,B06,32.0,5717.0,3,3,3,False,NaN,1,ENGINE,1,6,9,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-E32
99991,2690074,M09,80752,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,NaN,NaN,NaN,NaN,Other,09/25/2000 09:37:50 AM,0 Block of GATES ST,SF,94110.0,B06,32.0,5717.0,3,3,3,True,NaN,1,MEDIC,3,6,9,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M09
99992,2690074,M17,80752,Medical Incident,09/25/2000,09/25/2000,09/25/2000 09:34:19 AM,09/25/2000 09:35:24 AM,09/25/2000 09:35:47 AM,09/25/2000 09:38:01 AM,09/25/2000 09:43:26 AM,09/25/2000 09:52:25 AM,09/25/2000 10:14:34 AM,Other,09/25/2000 10:55:41 AM,0 Block of GATES ST,SF,94110.0,B06,32.0,5717.0,3,3,3,True,NaN,1,MEDIC,2,6,9,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M17

In [11]:
df.isnull().sum()

Unit ID                                     0
Call Type                                   0
Call Date                                   0
Received DtTm                               0
Entry DtTm                                  0
Dispatch DtTm                               0
Response DtTm                           11903
On Scene DtTm                           23748
Transport DtTm                          76069
Hospital DtTm                           79581
Available DtTm                           2655
Zipcode of Incident                         0
Original Priority                           0
ALS Unit                                    0
Call Type Group                         99985
Number of Alarms                            0
Unit Type                                   0
Unit sequence in call dispatch              0
Neighborhooods - Analysis Boundaries        0
Location                                    0
RowID                                       0
Call to Dispatch                            0
Respond to On Scene                     29812
Respond to Available                    13214
On Scene to Available                   24296
Total Call to Available                  2655
Hospital or Transport                       0
dtype: int64

In [54]:
df.shape

(500000, 34)

In [6]:
#set names of columns since it is bottom part of original csv
df.columns = ['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
       'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
       'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
       'Call Final Disposition', 'Available DtTm', 'Address', 'City',
       'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
       'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
       'Call Type Group', 'Number of Alarms', 'Unit Type',
       'Unit sequence in call dispatch', 'Fire Prevention District',
       'Supervisor District', 'Neighborhooods - Analysis Boundaries',
       'Location', 'RowID']

In [62]:
df_full.shape

(4715699, 35)

In [1]:
#calls happen all days of the week equally
'''
df['weekday']= df['Call Date'].dt.weekday
df['weekday'].value_counts(normalize=True, dropna=False)
Out[41]:
4    0.148162
5    0.147340
3    0.142652
0    0.141238
2    0.141050
1    0.140086
6    0.139472
Name: weekday, dtype: float64
'''

"\ndf['weekday']= df['Call Date'].dt.weekday\ndf['weekday'].value_counts(normalize=True, dropna=False)\nOut[41]:\n4    0.148162\n5    0.147340\n3    0.142652\n0    0.141238\n2    0.141050\n1    0.140086\n6    0.139472\nName: weekday, dtype: float64\n"

# FILLING NA FOR ZIPCODES

In [43]:
df['Zipcode of Incident'].nunique()

27

In [44]:
df['Neighborhooods - Analysis Boundaries'].nunique()

42

In [45]:
zipcodes = df[['Neighborhooods - Analysis Boundaries','Zipcode of Incident']]
zipcodes = zipcodes[zipcodes['Zipcode of Incident'].notnull()]
zipcodes['Zipcode of Incident'] = zipcodes['Zipcode of Incident'].astype(int)

In [46]:
zips= list(zipcodes['Zipcode of Incident'].values)
#zips

In [47]:
nbhds= list(zipcodes['Neighborhooods - Analysis Boundaries'].values)
#nbhds

In [48]:
len(zips), len(nbhds)

(499393, 499393)

In [49]:
zipcodes_dict=dict(zip(nbhds,zips))
#zipcodes_dict

In [50]:
df['Zipcode of Incident']=df['Zipcode of Incident'].fillna(df['Neighborhooods - Analysis Boundaries'].map(zipcodes_dict))

# ORIGINAL PRIORITY RANDOM SHARE

In [17]:
#df[(df['Original Priority'].isnull() == True) & (df['On Scene DtTm'].isnull() != True)]

In [18]:
df['Original Priority'].value_counts() #counts all values in column w/o N/A
df['Original Priority'].value_counts(normalize=True, dropna=False) #counts share of valeus in col including N/A
q = df['Original Priority'].value_counts(normalize=True) #counts share of valeus in col w/o N/A
orig_prio_list = q.index.tolist()  #makes indeces(priorities types) to a list
orig_prio_shares = q.tolist() #makes values of shares a list

In [19]:
#same as above but longer, though useful for code script
#df['Original Priority'].value_counts(normalize=True).index.tolist()
#df['Original Priority'].value_counts(normalize=True).tolist()

In [20]:
df['Original Priority'] = df['Original Priority'].fillna(pd.Series(np.random.choice(orig_prio_list, 
                                                      p=orig_prio_shares, size=len(df))))

# Call TYPE NA  filling

In [7]:
call_types = df[['Call Type', 'Call Type Group', 'Original Priority']]
gr_types = call_types.groupby('Call Type')

In [25]:
s=call_types.groupby(['Call Type', 'Call Type Group']).size()

In [31]:
s=pd.DataFrame(s)
s

                                                                                0
Call Type                                    Call Type Group
Administrative                               Fire                               1
Aircraft Emergency                           Alarm                             34
                                             Fire                             172
Alarms                                       Alarm                         169100
Assist Police                                Alarm                            289
Citizen Assist / Service Call                Alarm                          20504
Confined Space / Structure Collapse          Fire                             219
Electrical Hazard                            Alarm                           4804
Elevator / Escalator Rescue                  Alarm                           4536
Explosion                                    Fire                             567
Extrication / Entrapped (Machinery, Vehicle) Fire                             303
Fuel Spill                                   Alarm                           1480
Gas Leak (Natural and LP Gases)              Alarm                           7304
HazMat                                       Alarm                            522
                                             Fire                             171
High Angle Rescue                            Fire                             527
Industrial Accidents                         Fire                             233
Marine Fire                                  Fire                             111
Medical Incident                             Alarm                            839
                                             Non Life-threatening          340078
                                             Potentially Life-Threatening  714685
Mutual Aid / Assist Outside Agency           Fire                             130
Odor (Strange / Unknown)                     Alarm                           1819
                                             Fire                              26
Oil Spill                                    Alarm                              3
Other                                        Alarm                          19146
                                             Fire                             171
                                             Non Life-threatening            2327
                                             Potentially Life-Threatening     967
Outside Fire                                 Alarm                           2238
                                             Fire                           16566
Smoke Investigation (Outside)                Alarm                           3220
Structure Fire                               Alarm                         137897
                                             Fire                           17991
                                             Potentially Life-Threatening      16
Suspicious Package                           Fire                              48
Traffic Collision                            Non Life-threatening           25774
                                             Potentially Life-Threatening   43728
Train / Rail Fire                            Fire                              10
Train / Rail Incident                        Fire                             376
Vehicle Fire                                 Alarm                             13
                                             Fire                            5466
Water Rescue                                 Fire                           10518
                                             Potentially Life-Threatening      31
Watercraft in Distress                       Alarm                             14
                                             Fire                             303

In [14]:
types = call_types['Call Type'].unique()

In [19]:
call_types.head()

          Call Type               Call Type Group Original Priority
0  Medical Incident          Non Life-threatening                 2
1  Medical Incident  Potentially Life-Threatening                 3
2  Medical Incident  Potentially Life-Threatening                 3
3  Medical Incident  Potentially Life-Threatening                 3
4  Medical Incident  Potentially Life-Threatening                 3

In [ ]:
def get_call_group():

In [13]:
df_model = df[df['On Scene DtTm'].notnull()]

In [14]:
df_model = df_model.drop(columns =['Call Number','Incident Number', 'Watch Date','Call Final Disposition', 'Address',
                                   'City', 'Battalion','Station Area', 'Box', 'Fire Prevention District',
                                   'Supervisor District'])