In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
pd.set_option('display.max_columns', 999)
import time_features
import feature_engineering

In [2]:
df=pd.read_csv('Fire_Dep_Cal_100k.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (25,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
feature_engineering.drop_useless(df)

In [6]:
cols =['Received DtTm', 'Dispatch DtTm', 'Response DtTm','On Scene DtTm', 'Transport DtTm', 'Hospital DtTm', 'Available DtTm']
time_features.read_datetime(cols,df)

In [7]:
time_features.new_time_cols(df)

In [8]:
feature_engineering.fill_na_zipcode(df)

In [9]:
feature_engineering.original_priority_na(df)

In [10]:
df

,Unit ID,Call Type,Call Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,RowID,Call to Dispatch,Respond to On Scene,Respond to Available,On Scene to Available,Total Call to Available,Hospital or Transport
0,E18,Medical Incident,04/12/2000,2000-04-12 21:00:29,04/12/2000 09:01:40 PM,2000-04-12 21:02:00,NaT,NaT,NaT,NaT,NaT,94116,3,False,NaN,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",001030101-E18,00:01:31,NaT,NaT,NaT,NaT,1
1,M14,Medical Incident,04/12/2000,2000-04-12 21:09:02,04/12/2000 09:10:17 PM,2000-04-12 21:10:29,2000-04-12 21:12:11,2000-04-12 21:19:36,2000-04-12 21:43:57,2000-04-12 22:03:33,2000-04-12 22:23:57,94122,3,True,NaN,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",001030104-M14,00:01:27,00:07:25,01:11:46,01:04:21,01:14:55,0
2,M36,Medical Incident,04/12/2000,2000-04-12 21:09:44,04/12/2000 09:10:56 PM,2000-04-12 21:11:47,NaT,2000-04-12 21:14:11,2000-04-12 21:59:31,2000-04-12 22:10:06,2000-04-12 22:43:40,94102,3,False,NaN,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",001030106-M36,00:02:03,NaT,NaT,01:29:29,01:33:56,0
3,E01,Alarms,04/12/2000,2000-04-12 21:13:47,04/12/2000 09:13:51 PM,2000-04-12 21:14:13,2000-04-12 21:15:58,2000-04-12 21:20:12,NaT,NaT,2000-04-12 21:24:19,94102,3,False,NaN,1,ENGINE,3,Tenderloin,"(37.7825474000421, -122.412247935495)",001030107-E01,00:00:26,00:04:14,00:08:21,00:04:07,00:10:32,1
4,RS1,Medical Incident,04/12/2000,2000-04-12 21:14:43,04/12/2000 09:16:11 PM,2000-04-12 21:16:24,2000-04-12 21:18:20,2000-04-12 21:20:08,NaT,NaT,2000-04-12 21:20:36,94108,3,False,NaN,1,RESCUE SQUAD,2,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",001030108-RS1,00:01:41,00:01:48,00:02:16,00:00:28,00:05:53,1
5,T03,Citizen Assist / Service Call,04/12/2000,2000-04-12 21:24:27,04/12/2000 09:24:54 PM,2000-04-12 21:25:10,2000-04-12 21:27:10,2000-04-12 21:30:26,NaT,NaT,2000-04-12 21:44:28,94109,3,False,NaN,1,TRUCK,1,Nob Hill,"(37.7884388430214, -122.414352343522)",001030112-T03,00:00:43,00:03:16,00:17:18,00:14:02,00:20:01,1
6,E38,Electrical Hazard,04/12/2000,2000-04-12 21:25:55,04/12/2000 09:28:06 PM,2000-04-12 21:28:46,2000-04-12 21:29:59,2000-04-12 21:31:18,NaT,NaT,2000-04-12 21:39:36,94109,3,False,NaN,1,ENGINE,1,Nob Hill,"(37.7903696585646, -122.422328957341)",001030116-E38,00:02:51,00:01:19,00:09:37,00:08:18,00:13:41,1
7,E15,Odor (Strange / Unknown),04/12/2000,2000-04-12 21:27:55,04/12/2000 09:28:38 PM,2000-04-12 21:30:27,2000-04-12 21:31:43,2000-04-12 21:34:57,NaT,NaT,2000-04-12 21:38:24,94112,3,False,NaN,1,ENGINE,1,Outer Mission,"(37.7183153380753, -122.441921085449)",001030117-E15,00:02:32,00:03:14,00:06:41,00:03:27,00:10:29,1
8,E08,Medical Incident,04/12/2000,2000-04-12 21:27:45,04/12/2000 09:28:58 PM,2000-04-12 21:29:21,2000-04-12 21:31:26,2000-04-12 21:32:34,NaT,NaT,2000-04-12 21:45:28,94134,3,False,NaN,1,ENGINE,1,None,"(37.7750268633971, -122.392346204303)",001030118-E08,00:01:36,00:01:08,00:14:02,00:12:54,00:17:43,1
9,M17,Medical Incident,04/12/2000,2000-04-12 21:29:54,04/12/2000 09:30:16 PM,2000-04-12 21:31:26,2000-04-12 21:32:41,2000-04-12 21:37:43,2000-04-12 21:48:49,NaT,2000-04-12 22:31:08,94124,1,True,NaN,1,MEDIC,1,Bayview Hunters Point,"(37.7335924152271, -122.38701801742)",001030119-M17,00:01:32,00:05:02,00:58:27,00:53:25,01:01:14,1
10,E13,Alarms,04/12/2000,2000-04-12 21:30:54,04/12/2000 09:30:57 PM,2000-04-12 21:31:23,2000-04-12 21:34:01,2000-04-12 21:34:30,NaT,NaT,2000-04-12 21:50:48,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7942116655012, -122.402644729189)",001030120-E13,00:00:29,00:00:29,00:16:47,00:16:18,00:19:54,1
11,M18,Medical Incident,04/12/2000,2000-04-12 21:31:55,04/12/2000 09:33:48 PM,2000-04-12 21:34:10,2000-04-12 21:35:59,2000-04-12 21:45:22,NaT,NaT,2000-04-12 21:49:52,94122,1,False,NaN,1,MEDIC,1,Sunset/Parkside,"(37.763482287794, -122.477678638767)",001030122-M18,00:02:15,00:09:23,00:13:53,00:04:30,00:17:57,1
12,M09,Medical Incident,04/12/2000,2000-04-12 21:41:20,04/12/2000 09:41:39 PM,2000-04-12 21:43:19,2000-04-12 21:46:26,2000-04-12 21:52:57,NaT,NaT,2000-04-12 22:00:32,94110,1,True,NaN,1,MEDIC,1,Mission,"(37.7572324112144, -122.415626198524)",001030124-M09,00:01:59,00:06:31,00:14:06,00:07:35,00:19:12,1
13,E08,Medical Incident,04/12/2000,2000-04-12 21:46:09,04/12/2000 09:46:09 PM,2000-04-12 21:46:09,NaT,NaT,NaT,NaT,2000-04-12 21:48:27,94107,3,False,NaN,1,ENGINE,1,Mission Bay,"(37.7763329756243, -122.394035065186)",001030127-E08,00:00:00,NaT,NaT,NaT,00:02:18,1
14,E05,Alarms,04/12/2000,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:48:07,2000-04-12 21:49:45,NaT,NaT,2000-04-12 22:19:27,94115,3,False,NaN,1,ENGINE,1,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-E05,00:01:17,00:01:38,00:31:20,00:29:42,00:33:59,1
15,T06,Alarms,04/12/2000,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:47:44,2000-04-12 21:50:09,NaT,NaT,2000-04-12 22:17:00,94115,3,False,NaN,1,TRUCK,2,Western Addition,"(37.7826256736324, -122.434187755055)",001030128-T06,00:01:17,00:02:25,00:29:16,00:26:51,00:31:32,1
16,M18,Medical Incident,04/12/2000,2000-04-12 21:49:20,04/12/2000 09:50:14 PM,2000-04-12 21:50:44,2000-04-12 21:57:02,2000-04-12 22:02:05,NaT,NaT,2000-04-12 22:08:16,94116,2,False,NaN,1,MEDIC,1,Sunset/Parkside,"(37.7383172638778, -122.499533373462)",001030130-M18,00:01:24,00:05:03,00:11:14,00:06:11,00:18:56,1
17,E39,Other,04/12/2000,2000-04-12 21:53:20,04/12/2000 09:54:32 PM,2000-04-12 21:54:49,NaT,2000-04-12 22:05:03,NaT,NaT,2000-04-12 22:22:22,94127,3,False,NaN,1,ENGINE,1,West of Twin Peaks,"(37.738002083532, -122.446449647871)",001030132-E39,00:01:29,NaT,NaT,00:17:19,00:29:02,1
18,M10,Medical Incident,04/12/2000,2000-04-12 21:57:18,04/12/2000 09:59:07 PM,2000-04-12 21:59:19,2000-04-12 22:00:04,2000-04-12 22:05:03,NaT,NaT,2000-04-12 23:16:36,94118,3,False,NaN,1,MEDIC,1,Lone Mountain/USF,"(37.7781665631084, -122.450200042476)",001030135-M10,00:02:01,00:04:59,01:16:32,01:11:33,01:19:18,1
19,E33,Structure Fire,04/12/2000,2000-04-12 22:04:42,04/12/2000 10:04:46 PM,2000-04-12 22:04:58,2000-04-12 22:06:03,2000-04-12 22:08:46,NaT,NaT,2000-04-12 22:10:19,94112,3,False,NaN,1,ENGINE,1,Oceanview/Merced/Ingleside,"(37.7131720494385, -122.459024434517)",001030136-E33,00:00:16,00:02:43,00:04:16,00:01:33,00:05:37,1
20,E36,Medical Incident,04/12/2000,2000-04-12 22:05:41,04/12/2000 10:06:59 PM,2000-04-12 22:07:11,2000-04-12 22:08:08,2000-04-12 22:09:30,NaT,NaT,2000-04-12 22:12:38,94103,3,False,NaN,1,ENGINE,1,South of Market,"(37.7762305177878, -122.414711004673)",001030138-E36,00:01:30,00:01:22,00:04:30,00:03:08,00:06:57,1
21,M41,Medical Incident,04/12/2000,2000-04-12 22:06:10,04/12/2000 10:07:24 PM,2000-04-12 22:08:04,2000-04-12 22:10:47,2000-04-12 22:20:31,NaT,NaT,2000-04-12 23:18:29,94102,1,True,NaN,1,MEDIC,1,Tenderloin,"(37.7841909047888, -122.410119483452)",001030139-M41,00:01:54,00:09:44,01:07:42,00:57:58,01:12:19,1
22,K439,Medical Incident,04/12/2000,2000-04-12 22:08:59,04/12/2000 10:11:22 PM,2000-04-12 22:13:08,2000-04-12 22:17:11,2000-04-12 22:19:49,2000-04-12 22:23:38,2000-04-12 22:51:51,2000-04-12 22:52:39,94115,2,False,NaN,1,PRIVATE,1,Pacific Heights,"(37.7851959510121, -122.440715841453)",001030142-K439,00:04:09,00:02:38,00:35:28,00:32:50,00:43:40,0
23,E10,Other,04/12/2000,2000-04-12 22:12:12,04/12/2000 10:14:28 PM,2000-04-12 22:14:58,2000-04-12 22:16:26,2000-04-12 22:19:01,NaT,NaT,2000-04-12 22:25:19,94118,3,False,NaN,1,ENGINE,1,Presidio Heights,"(37.7828208961152, -122.454351033841)",001030143-E10,00:02:46,00:02:35,00:08:53,00:06:18,00:13:07,1
24,RA13,Medical Incident,04/12/2000,2000-04-12 22:19:06,04/12/2000 10:20:31 PM,2000-04-12 22:22:31,2000-04-12 22:23:23,2000-04-12 22:34:16,NaT,2000-04-12 23:12:29,2000-04-12 23:29:15,94103,1,False,NaN,1,AIRPORT,1,South of Market,"(37.7815374331217, -122.409518341416)",001030144-RA13,00:03:25,00:10:53,01:05:52,00:54:59,01:10:09,1
25,M05,Medical Incident,04/12/2000,2000-04-12 22:29:10,04/12/2000 10:30:41 PM,2000-04-12 22:32:34,2000-04-12 22:34:47,2000-04-12 22:37:28,2000-04-12 22:41:39,2000-04-12 22:53:49,2000-04-12 23:10:27,94117,E,False,NaN,1,MEDIC,1,Haight Ashbury,"(37.7691652248423, -122.453536875377)",001030148-M05,00:03:24,00:02:41,00:35:40,00:32:59,00:41:17,0
26,M36,Medical Incident,04/12/2000,2000-04-12 22:43:54,04/12/2000 10:45:53 PM,2000-04-12 22:49:59,2000-04-12 22:50:35,2000-04-12 22:53:18,2000-04-12 23:11:36,2000-04-12 23:22:17,2000-04-12 23:42:43,94103,1,False,NaN,1,MEDIC,1,Mission,"(37.7741251002903, -122.418810211803)",001030154-M36,00:06:05,00:02:43,00:52:08,00:49:25,00:58:49,0
27,M03,Medical Incident,04/12/2000,2000-04-12 23:06:10,04/12/2000 11:06:57 PM,2000-04-12 23:08:11,2000-04-12 23:10:20,2000-04-12 23:16:11,2000-04-12 23:38:46,2000-04-13 00:04:40,2000-04-13 00:15:33,94102,1,True,NaN,1,MEDIC,1,Tenderloin,"(37.782943523582, -122.419988441304)",001030159-M03,00:02:01,00:05:51,01:05:13,00:59:22,01:09:23,0
28,M14,Medical Incident,04/12/2000,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:17:45,2000-04-12 23:21:24,2000-04-13 00:02:32,2000-04-13 00:02:36,2000-04-13 00:24:07,94118,3,True,NaN,1,MEDIC,2,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-M14,00:01:55,00:03:39,01:06:22,01:02:43,01:08:58,0
29,RC2,Medical Incident,04/12/2000,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:19:54,NaT,NaT,NaT,2000-04-12 23:49:28,94118,3,True,NaN,1,RESCUE CAPTAIN,4,Inner Richmond,"(37.7817385392724, -122.469629422744)",001030165-RC2,00:01:55,NaT,00:29:34,NaT,00:34:19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,E35,Alarms,09/25/2000,2000-09-25 08:49:47,09/25/2000 08:50:29 AM,2000-09-25 08:50:36,NaT,2000-09-25 08:53:28,NaT,NaT,2000-09-25 08:56:13,94105,3,False,NaN,1,ENGINE,1,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-E35,00:00:49,NaT,NaT,00:02:45,00:06:26,1
99971,T13,Alarms,09/25/2000,2000-09-25 08:49:47,09/25/2000 08:50:29 AM,2000-09-25 08:50:36,2000-09-25 08:54:23,2000-09-25 08:55:21,NaT,NaT,2000-09-25 08:56:11,94105,3,False,NaN,1,TRUCK,2,Financial District/South Beach,"(37.7887132628625, -122.39113809089)",002690063-T13,00:00:49,00:00:58,00:01:48,00:00:50,00:06:24,1
99972,E24,Medical Incident,09/25/2000,2000-09-25 08:52:21,09/25/2000 08:53:30 AM,2000-09-25 08:53:37,2000-09-25 08:54:51,2000-09-25 08:56:39,NaT,NaT,2000-09-25 09:06:42,94114,3,False,NaN,1,ENGINE,1,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-E24,00:01:16,00:01:48,00:11:51,00:10:03,00:14:21,1
99973,M07,Medical Incident,09/25/2000,2000-09-25 08:52:21,09/25/2000 08:53:30 AM,2000-09-25 08:53:37,2000-09-25 08:54:21,2000-09-25 08:58:48,2000-09-25 09:16:34,NaT,2000-09-25 09:57:38,94114,3,True,NaN,1,MEDIC,2,Castro/Upper Market,"(37.7598966472322, -122.438119879768)",002690064-M07,00:01:16,00:04:27,01:03:17,00:58:50,01:05:17,1
99974,E12,Medical Incident,09/25/2000,2000-09-25 09:03:55,09/25/2000 09:05:44 AM,2000-09-25 09:06:04,2000-09-25 09:08:00,NaT,NaT,NaT,2000-09-25 09:09:14,94117,3,False,NaN,1,ENGINE,2,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-E12,00:02:09,NaT,00:01:14,NaT,00:05:19,1
99975,M12,Medical Incident,09/25/2000,2000-09-25 09:03:55,09/25/2000 09:05:44 AM,2000-09-25 09:06:04,2000-09-25 09:07:26,NaT,2000-09-25 09:20:57,2000-09-25 09:29:56,2000-09-25 09:47:03,94117,3,True,NaN,1,MEDIC,1,Haight Ashbury,"(37.7648664550085, -122.449769713682)",002690065-M12,00:02:09,NaT,00:39:37,NaT,00:43:08,0
99976,B01,Alarms,09/25/2000,2000-09-25 09:08:54,09/25/2000 09:09:16 AM,2000-09-25 09:09:26,2000-09-25 09:11:03,NaT,NaT,NaT,2000-09-25 09:20:11,94111,3,False,NaN,1,CHIEF,3,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-B01,00:00:32,NaT,00:09:08,NaT,00:11:17,1
99977,E13,Alarms,09/25/2000,2000-09-25 09:08:54,09/25/2000 09:09:16 AM,2000-09-25 09:09:26,2000-09-25 09:10:27,2000-09-25 09:11:04,NaT,NaT,2000-09-25 09:20:11,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-E13,00:00:32,00:00:37,00:09:44,00:09:07,00:11:17,1
99978,T13,Alarms,09/25/2000,2000-09-25 09:08:54,09/25/2000 09:09:16 AM,2000-09-25 09:09:26,2000-09-25 09:10:54,NaT,2000-09-25 09:11:52,NaT,2000-09-25 09:22:03,94111,3,False,NaN,1,TRUCK,2,Chinatown,"(37.7947853577882, -122.400352669798)",002690066-T13,00:00:32,NaT,00:11:09,NaT,00:13:09,1
99979,E01,Medical Incident,09/25/2000,2000-09-25 09:10:48,09/25/2000 09:12:13 AM,2000-09-25 09:12:25,2000-09-25 09:12:42,2000-09-25 09:13:26,NaT,NaT,2000-09-25 09:16:08,94103,3,False,NaN,1,ENGINE,1,South of Market,"(37.7839914857614, -122.408066547804)",002690067-E01,00:01:37,00:00:44,00:03:26,00:02:42,00:05:20,1
99980,M01,Medical Incident,09/25/2000,2000-09-25 09:10:48,09/25/2000 09:12:13 AM,2000-09-25 09:12:25,2000-09-25 09:12:57,2000-09-25 09:15:18,2000-09-25 09:20:36,2000-09-25 09:47:14,2000-09-25 10:13:56,94103,3,True,NaN,1,MEDIC,2,South of Market,"(37.7839914857614, -122.408066547804)",002690067-M01,00:01:37,00:02:21,01:00:59,00:58:38,01:03:08,0
99981,K968,Medical Incident,09/25/2000,2000-09-25 09:21:30,09/25/2000 09:23:14 AM,2000-09-25 09:26:27,2000-09-25 09:26:35,2000-09-25 09:41:58,NaT,NaT,2000-09-25 10:32:52,94116,1,False,NaN,1,PRIVATE,1,Sunset/Parkside,"(37.738928542073, -122.505563264161)",002690068-K968,00:04:57,00:15:23,01:06:17,00:50:54,01:11:22,1
99982,E01,Medical Incident,09/25/2000,2000-09-25 09:23:27,09/25/2000 09:26:02 AM,2000-09-25 09:26:13,2000-09-25 09:26:55,2000-09-25 09:29:45,NaT,NaT,2000-09-25 09:38:17,94102,3,False,NaN,1,ENGINE,1,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-E01,00:02:46,00:02:50,00:11:22,00:08:32,00:14:50,1
99983,M36,Medical Incident,09/25/2000,2000-09-25 09:23:27,09/25/2000 09:26:02 AM,2000-09-25 09:26:13,2000-09-25 09:27:42,2000-09-25 09:30:51,2000-09-25 09:44:49,2000-09-25 09:55:12,NaT,94102,3,True,NaN,1,MEDIC,2,Tenderloin,"(37.7796660426062, -122.41371122073)",002690069-M36,00:02:46,00:03:09,NaT,NaT,NaT,0
99984,E03,Medical Incident,09/25/2000,2000-09-25 09:29:03,09/25/2000 09:30:32 AM,2000-09-25 09:30:39,NaT,NaT,2000-09-25 09:32:50,NaT,2000-09-25 09:40:16,94102,3,True,NaN,1,ENGINE,2,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-E03,00:01:36,NaT,NaT,NaT,00:11:13,1
99985,M03,Medical Incident,09/25/2000,2000-09-25 09:29:03,09/25/2000 09:30:32 AM,2000-09-25 09:30:39,2000-09-25 09:31:43,NaT,2000-09-25 09:50:32,2000-09-25 09:54:49,2000-09-25 10:12:33,94102,3,True,NaN,1,MEDIC,1,Tenderloin,"(37.7877243194386, -122.412426603479)",002690070-M03,00:01:36,NaT,00:40:50,NaT,00:43:30,0
99986,E08,Medical Incident,09/25/2000,2000-09-25 09:34:04,09/25/2000 09:34:21 AM,2000-09-25 09:34:27,2000-09-25 09:36:08,2000-09-25 09:37:22,NaT,NaT,2000-09-25 09:42:23,94107,3,True,NaN,1,ENGINE,2,South of Market,"(37.7800897302982, -122.394300038467)",002690072-E08,00:00:23,00:01:14,00:06:15,00:05:01,00:08:19,1
99987,M08,Medical Incident,09/25/2000,2000-09-25 09:34:04,09/25/2000 09:34:21 AM,2000-09-25 09:34:27,2000-09-25 09:35:42,2000-09-25 09:36:40,NaT,NaT,2000-09-25 10:08:43,94107,3,True,NaN,1,MEDIC,1,South of Market,"(37.7800897302982, -122.394300038467)",002690072-M08,00:00:23,00:00:58,00:33:01,00:32:03,00:34:39,1
99988,E07,Medical Incident,09/25/2000,2000-09-25 09:33:44,09/25/2000 09:35:02 AM,2000-09-25 09:35:07,2000-09-25 09:36:11,2000-09-25 09:37:20,NaT,NaT,2000-09-25 09:45:43,94110,3,False,NaN,1,ENGINE,1,Mission,"(37.7643732096664, -122.417478491468)",002690073-E07,00:01:23,00:01:09,00:09:32,00:08:23,00:11:59,1
99989,M05,Medical Incident,09/25/2000,2000-09-25 09:33:44,09/25/2000 09:35:02 AM,2000-09-25 09:35:07,2000-09-25 09:35:22,2000-09-25 09:40:54,2000-09-25 10:02:09,NaT,2000-09-25 10:34:41,94110,3,True,NaN,1,MEDIC,2,Mission,"(37.7643732096664, -122.417478491468)",002690073-M05,00:01:23,00:05:32,00:59:19,00:53:47,01:00:57,1
99990,E32,Medical Incident,09/25/2000,2000-09-25 09:34:19,09/25/2000 09:35:24 AM,2000-09-25 09:35:47,2000-09-25 09:36:49,2000-09-25 09:38:35,NaT,NaT,2000-09-25 10:09:56,94110,3,False,NaN,1,ENGINE,1,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-E32,00:01:28,00:01:46,00:33:07,00:31:21,00:35:37,1
99991,M09,Medical Incident,09/25/2000,2000-09-25 09:34:19,09/25/2000 09:35:24 AM,2000-09-25 09:35:47,NaT,NaT,NaT,NaT,2000-09-25 09:37:50,94110,3,True,NaN,1,MEDIC,3,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M09,00:01:28,NaT,NaT,NaT,00:03:31,1
99992,M17,Medical Incident,09/25/2000,2000-09-25 09:34:19,09/25/2000 09:35:24 AM,2000-09-25 09:35:47,2000-09-25 09:38:01,2000-09-25 09:43:26,2000-09-25 09:52:25,2000-09-25 10:14:34,2000-09-25 10:55:41,94110,3,True,NaN,1,MEDIC,2,Bernal Heights,"(37.7419098245012, -122.413857170888)",002690074-M17,00:01:28,00:05:25,01:17:40,01:12:15,01:21:22,0
99993,E38,Alarms,09/25/2000,2000-09-25 09:37:43,09/25/2000 09:38:30 AM,2000-09-25 09:38:38,2000-09-25 09:40:20,2000-09-25 09:42:18,NaT,NaT,2000-09-25 09:44:12,94109,3,False,NaN,1,ENGINE,1,Pacific Heights,"(37.7894646099499, -122.425587859681)",002690075-E38,00:00:55,00:01:58,00:03:52,00:01:54,00:06:29,1
99994,E44,Medical Incident,09/25/2000,2000-09-25 09:48:37,09/25/2000 09:50:04 AM,2000-09-25 09:50:50,2000-09-25 09:52:00,2000-09-25 09:53:51,NaT,NaT,2000-09-25 09:54:42,94112,3,True,NaN,1,ENGINE,2,Excelsior,"(37.7197250928414, -122.431057873329)",002690076-E44,00:02:13,00:01:51,00:02:42,00:00:51,00:06:05,1
99995,M35,Medical Incident,09/25/2000,2000-09-25 09:48:37,09/25/2000 09:50:04 AM,2000-09-25 09:50:50,2000-09-25 09:52:12,2000-09-25 09:53:25,2000-09-25 10:13:15,NaT,2000-09-25 11:03:27,94112,3,True,NaN,1,MEDIC,1,Excelsior,"(37.7197250928414, -122.431057873329)",002690076-M35,00:02:13,00:01:13,01:11:15,01:10:02,01:14:50,1
99996,B02,Medical Incident,09/25/2000,2000-09-25 10:03:20,09/25/2000 10:03:43 AM,2000-09-25 10:03:54,2000-09-25 10:06:57,2000-09-25 10:15:13,NaT,NaT,2000-09-25 10:24:34,94103,3,False,NaN,1,CHIEF,5,South of Market,"(37.7725264425971, -122.410076850083)",002690077-B02,00:00:34,00:08:16,00:17:37,00:09:21,00:21:14,1
99997,E29,Medical Incident,09/25/2000,2000-09-25 10:03:20,09/25/2000 10:03:43 AM,2000-09-25 10:03:54,2000-09-25 10:05:09,2000-09-25 10:24:37,NaT,NaT,2000-09-25 10:57:03,94103,3,True,NaN,1,ENGINE,6,South of Market,"(37.7725264425971, -122.410076850083)",002690077-E29,00:00:34,00:19:28,00:51:54,00:32:26,00:53:43,1
99998,M07,Medical Incident,09/25/2000,2000-09-25 10:03:20,09/25/2000 10:03:43 AM,2000-09-25 10:03:54,2000-09-25 10:04:26,2000-09-25 10:07:26,2000-09-25 10:26:52,2000-09-25 10:39:05,2000-09-25 11:04:58,94103,3,True,NaN,1,MEDIC,2,South of Market,"(37.7725264425971, -122.410076850083)",002690077-M07,00:00:34,00:03:00,01:00:32,00:57:32,01:01:38,0
99999,RC3,Medical Incident,09/25/2000,2000-09-25 10:03:20,09/25/2000 10:03:43 AM,2000-09-25 10:03:54,2000-09-25 10:05:04,2000-09-25 10:11:23,NaT,NaT,2000-09-25 10:30:17,94103,3,True,NaN,1,RESCUE CAPTAIN,4,South of Market,"(37.7725264425971, -122.410076850083)",002690077-RC3,00:00:34,00:06:19,00:25:13,00:18:54,00:26:57,1

In [11]:
df.isnull().sum()

Unit ID                                     0
Call Type                                   0
Call Date                                   0
Received DtTm                               0
Entry DtTm                                  0
Dispatch DtTm                               0
Response DtTm                           11903
On Scene DtTm                           23748
Transport DtTm                          76069
Hospital DtTm                           79581
Available DtTm                           2655
Zipcode of Incident                         0
Original Priority                           0
ALS Unit                                    0
Call Type Group                         99985
Number of Alarms                            0
Unit Type                                   0
Unit sequence in call dispatch              0
Neighborhooods - Analysis Boundaries        0
Location                                    0
RowID                                       0
Call to Dispatch                            0
Respond to On Scene                     29812
Respond to Available                    13214
On Scene to Available                   24296
Total Call to Available                  2655
Hospital or Transport                       0
dtype: int64

In [54]:
df.shape

(500000, 34)

In [6]:
#set names of columns since it is bottom part of original csv
df.columns = ['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
       'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
       'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
       'Call Final Disposition', 'Available DtTm', 'Address', 'City',
       'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
       'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
       'Call Type Group', 'Number of Alarms', 'Unit Type',
       'Unit sequence in call dispatch', 'Fire Prevention District',
       'Supervisor District', 'Neighborhooods - Analysis Boundaries',
       'Location', 'RowID']

In [62]:
df_full.shape

(4715699, 35)

In [1]:
#calls happen all days of the week equally
'''
df['weekday']= df['Call Date'].dt.weekday
df['weekday'].value_counts(normalize=True, dropna=False)
Out[41]:
4    0.148162
5    0.147340
3    0.142652
0    0.141238
2    0.141050
1    0.140086
6    0.139472
Name: weekday, dtype: float64
'''

"\ndf['weekday']= df['Call Date'].dt.weekday\ndf['weekday'].value_counts(normalize=True, dropna=False)\nOut[41]:\n4    0.148162\n5    0.147340\n3    0.142652\n0    0.141238\n2    0.141050\n1    0.140086\n6    0.139472\nName: weekday, dtype: float64\n"

# FILLING NA FOR ZIPCODES

In [43]:
df['Zipcode of Incident'].nunique()

27

In [44]:
df['Neighborhooods - Analysis Boundaries'].nunique()

42

In [45]:
zipcodes = df[['Neighborhooods - Analysis Boundaries','Zipcode of Incident']]
zipcodes = zipcodes[zipcodes['Zipcode of Incident'].notnull()]
zipcodes['Zipcode of Incident'] = zipcodes['Zipcode of Incident'].astype(int)

In [46]:
zips= list(zipcodes['Zipcode of Incident'].values)
#zips

In [47]:
nbhds= list(zipcodes['Neighborhooods - Analysis Boundaries'].values)
#nbhds

In [48]:
len(zips), len(nbhds)

(499393, 499393)

In [49]:
zipcodes_dict=dict(zip(nbhds,zips))
#zipcodes_dict

In [50]:
df['Zipcode of Incident']=df['Zipcode of Incident'].fillna(df['Neighborhooods - Analysis Boundaries'].map(zipcodes_dict))

# ORIGINAL PRIORITY RANDOM SHARE

In [17]:
#df[(df['Original Priority'].isnull() == True) & (df['On Scene DtTm'].isnull() != True)]

In [18]:
df['Original Priority'].value_counts() #counts all values in column w/o N/A
df['Original Priority'].value_counts(normalize=True, dropna=False) #counts share of valeus in col including N/A
q = df['Original Priority'].value_counts(normalize=True) #counts share of valeus in col w/o N/A
orig_prio_list = q.index.tolist()  #makes indeces(priorities types) to a list
orig_prio_shares = q.tolist() #makes values of shares a list

In [19]:
#same as above but longer, though useful for code script
#df['Original Priority'].value_counts(normalize=True).index.tolist()
#df['Original Priority'].value_counts(normalize=True).tolist()

In [20]:
df['Original Priority'] = df['Original Priority'].fillna(pd.Series(np.random.choice(orig_prio_list, 
                                                      p=orig_prio_shares, size=len(df))))

# Call TYPE NA  filling

In [7]:
call_types = df[['Call Type', 'Call Type Group', 'Original Priority']]
gr_types = call_types.groupby('Call Type')

In [25]:
s=call_types.groupby(['Call Type', 'Call Type Group']).size()

In [31]:
s=pd.DataFrame(s)
s

                                                                                0
Call Type                                    Call Type Group
Administrative                               Fire                               1
Aircraft Emergency                           Alarm                             34
                                             Fire                             172
Alarms                                       Alarm                         169100
Assist Police                                Alarm                            289
Citizen Assist / Service Call                Alarm                          20504
Confined Space / Structure Collapse          Fire                             219
Electrical Hazard                            Alarm                           4804
Elevator / Escalator Rescue                  Alarm                           4536
Explosion                                    Fire                             567
Extrication / Entrapped (Machinery, Vehicle) Fire                             303
Fuel Spill                                   Alarm                           1480
Gas Leak (Natural and LP Gases)              Alarm                           7304
HazMat                                       Alarm                            522
                                             Fire                             171
High Angle Rescue                            Fire                             527
Industrial Accidents                         Fire                             233
Marine Fire                                  Fire                             111
Medical Incident                             Alarm                            839
                                             Non Life-threatening          340078
                                             Potentially Life-Threatening  714685
Mutual Aid / Assist Outside Agency           Fire                             130
Odor (Strange / Unknown)                     Alarm                           1819
                                             Fire                              26
Oil Spill                                    Alarm                              3
Other                                        Alarm                          19146
                                             Fire                             171
                                             Non Life-threatening            2327
                                             Potentially Life-Threatening     967
Outside Fire                                 Alarm                           2238
                                             Fire                           16566
Smoke Investigation (Outside)                Alarm                           3220
Structure Fire                               Alarm                         137897
                                             Fire                           17991
                                             Potentially Life-Threatening      16
Suspicious Package                           Fire                              48
Traffic Collision                            Non Life-threatening           25774
                                             Potentially Life-Threatening   43728
Train / Rail Fire                            Fire                              10
Train / Rail Incident                        Fire                             376
Vehicle Fire                                 Alarm                             13
                                             Fire                            5466
Water Rescue                                 Fire                           10518
                                             Potentially Life-Threatening      31
Watercraft in Distress                       Alarm                             14
                                             Fire                             303

In [14]:
types = call_types['Call Type'].unique()

In [19]:
call_types.head()

          Call Type               Call Type Group Original Priority
0  Medical Incident          Non Life-threatening                 2
1  Medical Incident  Potentially Life-Threatening                 3
2  Medical Incident  Potentially Life-Threatening                 3
3  Medical Incident  Potentially Life-Threatening                 3
4  Medical Incident  Potentially Life-Threatening                 3

In [ ]:
def get_call_group():

In [13]:
df_model = df[df['On Scene DtTm'].notnull()]

In [14]:
df_model = df_model.drop(columns =['Call Number','Incident Number', 'Watch Date','Call Final Disposition', 'Address',
                                   'City', 'Battalion','Station Area', 'Box', 'Fire Prevention District',
                                   'Supervisor District'])