In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
pd.set_option('display.max_columns', 999)

In [ ]:
#int,str, int, str, datetime, datetime, datetime, datetime, datetime, datetime, datetime, datetime, datetime, str, datetime, str, str, int,str,str,str,str,str, int, bool, str,int,str,float,str, str, str, float, str
# headers =['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
#        'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
#        'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
#        'Call Final Disposition', 'Available DtTm', 'Address', 'City',
#        'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
#        'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
#        'Call Type Group', 'Number of Alarms', 'Unit Type',
#        'Unit sequence in call dispatch', 'Fire Prevention District',
#        'Supervisor District', 'Neighborhooods - Analysis Boundaries',
#        'Location', 'RowID']
# dateCols = [ 'Call Date', 'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm','Response DtTm', 
#             'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm', 'Available DtTm']
# dtypes = [int,str, int, str, datetime, datetime, datetime, datetime, datetime, datetime, datetime, datetime, 
#           datetime, str, datetime, str, str, int,str,str,str,str,str, int, bool, str,int,str,float,str, str, str, float, str]

In [2]:
df = pd.read_csv('Fire_Dep_Call_33%.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head().T

,0,1,2,3,4
131220350,131220351,131220352,131220352,131220353,131220353
E15,AM06,77,E01,83,AM22
13041162,13041163,13041164,13041164,13041165,13041165
Traffic Collision,Medical Incident,Medical Incident,Medical Incident,Medical Incident,Medical Incident
05/02/2013,05/02/2013,05/02/2013,05/02/2013,05/02/2013,05/02/2013
05/02/2013.1,05/02/2013,05/02/2013,05/02/2013,05/02/2013,05/02/2013
05/02/2013 05:26:07 PM,05/02/2013 05:26:10 PM,05/02/2013 05:29:32 PM,05/02/2013 05:29:32 PM,05/02/2013 05:32:02 PM,05/02/2013 05:32:02 PM
05/02/2013 05:26:07 PM.1,05/02/2013 05:26:52 PM,05/02/2013 05:29:58 PM,05/02/2013 05:29:58 PM,05/02/2013 05:32:08 PM,05/02/2013 05:32:08 PM
05/02/2013 05:26:07 PM.2,05/02/2013 05:28:58 PM,05/02/2013 05:30:23 PM,05/02/2013 05:30:23 PM,05/02/2013 05:33:53 PM,05/02/2013 06:03:15 PM
Unnamed: 9,05/02/2013 05:30:38 PM,05/02/2013 05:32:00 PM,05/02/2013 05:30:35 PM,05/02/2013 05:34:00 PM,05/02/2013 06:08:05 PM
Unnamed: 10,05/02/2013 05:39:28 PM,05/02/2013 05:35:35 PM,05/02/2013 05:35:34 PM,05/02/2013 05:41:58 PM,05/02/2013 06:14:07 PM
Unnamed: 11,NaN,05/02/2013 05:49:58 PM,NaN,05/02/2013 06:06:22 PM,05/02/2013 06:25:13 PM
Unnamed: 12,NaN,05/02/2013 06:18:06 PM,NaN,05/02/2013 06:15:37 PM,05/02/2013 06:34:18 PM
Fire,No Merit,Code 2 Transport,Other,Code 2 Transport,Code 2 Transport
05/02/2013 05:37:38 PM,05/02/2013 05:42:45 PM,05/02/2013 06:32:31 PM,05/02/2013 05:42:44 PM,05/02/2013 06:45:53 PM,05/02/2013 07:20:39 PM
OCEAN AV/GENEVA AV,900 Block of HAMPSHIRE ST,700 Block of TEHAMA ST,700 Block of TEHAMA ST,2200 Block of FOLSOM ST,2200 Block of FOLSOM ST
SF,SF,SF,SF,SF,SF
94112,94110,94103,94103,94110,94110
B09,B10,B02,B02,B02,B02
15,7,29,29,7,7
8472,2553,2322,2322,5424,5424
2,2,3,3,3,3
2.1,2,3,3,3,3
2.2,2,3,3,3,3
true,False,True,True,False,False
Non Life-threatening,Non Life-threatening,Potentially Life-Threatening,Potentially Life-Threatening,Potentially Life-Threatening,Potentially Life-Threatening
1,1,1,1,1,1
ENGINE,PRIVATE,MEDIC,ENGINE,MEDIC,PRIVATE
1.1,1,2,1,2,3
9,6,2,2,6,6
7,9,6,6,9,9
West of Twin Peaks,Mission,South of Market,South of Market,Mission,Mission
"(37.7230802451635, -122.452331558779)","(37.7569026636256, -122.407747149414)","(37.775140430753, -122.411799525568)","(37.775140430753, -122.411799525568)","(37.7613032756102, -122.414851275684)","(37.7613032756102, -122.414851275684)"
131220350-E15,131220351-AM06,131220352-77,131220352-E01,131220353-83,131220353-AM22

Dataframe consists of 1.556.179 rows and 34 columns.

In [29]:
df.shape

(1556179, 34)

In [3]:
#set names of columns since it is bottom part of original csv
df.columns = ['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
       'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
       'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
       'Call Final Disposition', 'Available DtTm', 'Address', 'City',
       'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
       'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
       'Call Type Group', 'Number of Alarms', 'Unit Type',
       'Unit sequence in call dispatch', 'Fire Prevention District',
       'Supervisor District', 'Neighborhooods - Analysis Boundaries',
       'Location', 'RowID']

In [4]:
df[['Call Date','Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm']].head()

,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm
0,05/02/2013,05/02/2013,05/02/2013 05:26:10 PM,05/02/2013 05:26:52 PM,05/02/2013 05:28:58 PM
1,05/02/2013,05/02/2013,05/02/2013 05:29:32 PM,05/02/2013 05:29:58 PM,05/02/2013 05:30:23 PM
2,05/02/2013,05/02/2013,05/02/2013 05:29:32 PM,05/02/2013 05:29:58 PM,05/02/2013 05:30:23 PM
3,05/02/2013,05/02/2013,05/02/2013 05:32:02 PM,05/02/2013 05:32:08 PM,05/02/2013 05:33:53 PM
4,05/02/2013,05/02/2013,05/02/2013 05:32:02 PM,05/02/2013 05:32:08 PM,05/02/2013 06:03:15 PM

In [6]:
df.isnull().sum()

Call Number                                   0
Unit ID                                       0
Incident Number                               0
Call Type                                     0
Call Date                                     0
Watch Date                                    0
Received DtTm                                 0
Entry DtTm                                    0
Dispatch DtTm                                 0
Response DtTm                             56580
On Scene DtTm                            322118
Transport DtTm                          1131571
Hospital DtTm                           1141874
Call Final Disposition                        0
Available DtTm                             5214
Address                                       0
City                                       7033
Zipcode of Incident                        3153
Battalion                                     0
Station Area                               2296
Box                                          77
Original Priority                         25528
Priority                                      2
Final Priority                                0
ALS Unit                                      0
Call Type Group                             902
Number of Alarms                              0
Unit Type                                     0
Unit sequence in call dispatch               63
Fire Prevention District                      0
Supervisor District                           0
Neighborhooods - Analysis Boundaries          0
Location                                      0
RowID                                         0
dtype: int64

In [21]:
df.columns

Index(['Call Number', 'Unit ID', 'Incident Number', 'Call Type', 'Call Date',
       'Watch Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm',
       'Response DtTm', 'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm',
       'Call Final Disposition', 'Available DtTm', 'Address', 'City',
       'Zipcode of Incident', 'Battalion', 'Station Area', 'Box',
       'Original Priority', 'Priority', 'Final Priority', 'ALS Unit',
       'Call Type Group', 'Number of Alarms', 'Unit Type',
       'Unit sequence in call dispatch', 'Fire Prevention District',
       'Supervisor District', 'Neighborhooods - Analysis Boundaries',
       'Location', 'RowID'],
      dtype='object')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556179 entries, 0 to 1556178
Data columns (total 34 columns):
Call Number                             1556179 non-null int64
Unit ID                                 1556179 non-null object
Incident Number                         1556179 non-null int64
Call Type                               1556179 non-null object
Call Date                               1556179 non-null object
Watch Date                              1556179 non-null object
Received DtTm                           1556179 non-null object
Entry DtTm                              1556179 non-null object
Dispatch DtTm                           1556179 non-null object
Response DtTm                           1499599 non-null object
On Scene DtTm                           1234061 non-null object
Transport DtTm                          424608 non-null object
Hospital DtTm                           414305 non-null object
Call Final Disposition                  1556179 non-null object
Available DtTm                          1550965 non-null object
Address                                 1556179 non-null object
City                                    1549146 non-null object
Zipcode of Incident                     1553026 non-null float64
Battalion                               1556179 non-null object
Station Area                            1553883 non-null object
Box                                     1556102 non-null object
Original Priority                       1530651 non-null object
Priority                                1556177 non-null object
Final Priority                          1556179 non-null int64
ALS Unit                                1556179 non-null bool
Call Type Group                         1555277 non-null object
Number of Alarms                        1556179 non-null int64
Unit Type                               1556179 non-null object
Unit sequence in call dispatch          1556116 non-null float64
Fire Prevention District                1556179 non-null object
Supervisor District                     1556179 non-null object
Neighborhooods - Analysis Boundaries    1556179 non-null object
Location                                1556179 non-null object
RowID                                   1556179 non-null object
dtypes: bool(1), float64(2), int64(4), object(27)
memory usage: 393.3+ MB

# FILLING NA FOR ZIPCODES

In [8]:
df['Zipcode of Incident'].nunique()

27

In [9]:
df['Neighborhooods - Analysis Boundaries'].nunique()

42

In [10]:
zipcodes = df[['Neighborhooods - Analysis Boundaries','Zipcode of Incident']]
zipcodes = zipcodes[zipcodes['Zipcode of Incident'].notnull()]
zipcodes['Zipcode of Incident'] = zipcodes['Zipcode of Incident'].astype(int)

In [11]:
zips= list(zipcodes['Zipcode of Incident'].values)
#zips

In [12]:
nbhds= list(zipcodes['Neighborhooods - Analysis Boundaries'].values)
#nbhds

In [13]:
len(zips), len(nbhds)

(1553026, 1553026)

In [14]:
zipcodes_dict=dict(zip(nbhds,zips))
#zipcodes_dict

In [15]:
df['Zipcode of Incident']=df['Zipcode of Incident'].fillna(df['Neighborhooods - Analysis Boundaries'].map(zipcodes_dict))

In [16]:
df.isnull().sum()

Call Number                                   0
Unit ID                                       0
Incident Number                               0
Call Type                                     0
Call Date                                     0
Watch Date                                    0
Received DtTm                                 0
Entry DtTm                                    0
Dispatch DtTm                                 0
Response DtTm                             56580
On Scene DtTm                            322118
Transport DtTm                          1131571
Hospital DtTm                           1141874
Call Final Disposition                        0
Available DtTm                             5214
Address                                       0
City                                       7033
Zipcode of Incident                           0
Battalion                                     0
Station Area                               2296
Box                                          77
Original Priority                         25528
Priority                                      2
Final Priority                                0
ALS Unit                                      0
Call Type Group                             902
Number of Alarms                              0
Unit Type                                     0
Unit sequence in call dispatch               63
Fire Prevention District                      0
Supervisor District                           0
Neighborhooods - Analysis Boundaries          0
Location                                      0
RowID                                         0
dtype: int64

# ORIGINAL PRIORITY RANDOM SHARE

In [17]:
#df[(df['Original Priority'].isnull() == True) & (df['On Scene DtTm'].isnull() != True)]

In [18]:
df['Original Priority'].value_counts() #counts all values in column w/o N/A
df['Original Priority'].value_counts(normalize=True, dropna=False) #counts share of valeus in col including N/A
q = df['Original Priority'].value_counts(normalize=True) #counts share of valeus in col w/o N/A
orig_prio_list = q.index.tolist()  #makes indeces(priorities types) to a list
orig_prio_shares = q.tolist() #makes values of shares a list

In [19]:
#same as above but longer, though useful for code script
#df['Original Priority'].value_counts(normalize=True).index.tolist()
#df['Original Priority'].value_counts(normalize=True).tolist()

In [20]:
df['Original Priority'] = df['Original Priority'].fillna(pd.Series(np.random.choice(orig_prio_list, 
                                                      p=orig_prio_shares, size=len(df))))

# Time NAs

In [5]:
time_df = df[['Call Date', 'Received DtTm', 'Entry DtTm', 'Dispatch DtTm', 'Response DtTm', 
              'On Scene DtTm', 'Transport DtTm', 'Hospital DtTm', 'Available DtTm']]
time_df_small = df[['Call Date']]

In [17]:
s = pd.Series(df['Call Date'])

0    05/02/2013
1    05/02/2013
2    05/02/2013
3    05/02/2013
4    05/02/2013
Name: Call Date, dtype: object

In [20]:
%timeit pd.to_datetime(s,infer_datetime_format=True)

3.66 s ± 14.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%timeit pd.to_datetime(s, format='%d%m%Y', errors='ignore',infer_datetime_format=True)

In [6]:
#time_df.info()

In [7]:
time_df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556179 entries, 0 to 1556178
Data columns (total 1 columns):
Call Date    1556179 non-null object
dtypes: object(1)
memory usage: 11.9+ MB

In [3]:
#dateparse = lambda x: pd.datetime.strptime(x, '%d-%m-%Y %H:%M:%S')
#dateparse = lambda x: pd.datetime.strptime(x, '%d-%m-%Y %H:%M:%S')

In [7]:
#time_df['Call Date'] = pd.to_datetime(time_df['Call Date'])

In [ ]:
pd.to_datetime(time_df_small.stack()).unstack()

In [ ]:
#dtd = time_df_small.apply(pd.to_datetime)

# Call TYPE NA  filling

In [130]:
call_types = df[['Call Type', 'Call Type Group', 'Original Priority']]
gr_types = call_types.groupby('Call Type')

In [132]:
call_types[call_types['Call Type']=='Medical Incident'].head()

          Call Type               Call Type Group Original Priority
0  Medical Incident          Non Life-threatening                 2
1  Medical Incident  Potentially Life-Threatening                 3
2  Medical Incident  Potentially Life-Threatening                 3
3  Medical Incident  Potentially Life-Threatening                 3
4  Medical Incident  Potentially Life-Threatening                 3

In [13]:
df_model = df[df['On Scene DtTm'].notnull()]

In [14]:
df_model = df_model.drop(columns =['Call Number','Incident Number', 'Watch Date','Call Final Disposition', 'Address',
                                   'City', 'Battalion','Station Area', 'Box', 'Fire Prevention District',
                                   'Supervisor District'])