In [1]:
import pandas as pd
import numpy as np
import timeit
from datetime import datetime
pd.set_option('display.max_columns', 999)
import feature_engineering_multi
import magic_feature_maker

In [2]:
df=pd.read_csv('Fire_Department_Calls_for_Service.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (19,20,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df=pd.read_csv('Fire_Dep_Call_20%.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
start_time = timeit.default_timer()
magic_feature_maker.magic_feature_maker(df)
elapsed = timeit.default_timer() - start_time
print('It took: '+ str(elapsed) + ' to run it.')

It took: 114.66884603002109 to run it.

In [3]:
df.head()

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Call Final Disposition,Available DtTm,Address,City,Zipcode of Incident,Battalion,Station Area,Box,Original Priority,Priority,Final Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,Location,RowID
0,1030101,E18,306091,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:00:29 PM,04/12/2000 09:01:40 PM,04/12/2000 09:02:00 PM,NaN,NaN,NaN,NaN,Other,NaN,2000 Block of 37TH AVE,SF,94116.0,B08,18.0,757.0,3,3,3,False,NaN,1,ENGINE,1,8,4,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",001030101-E18
1,1030104,M14,30612,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:09:02 PM,04/12/2000 09:10:17 PM,04/12/2000 09:10:29 PM,04/12/2000 09:12:11 PM,04/12/2000 09:19:36 PM,04/12/2000 09:43:57 PM,04/12/2000 10:03:33 PM,Other,04/12/2000 10:23:57 PM,1700 Block of 43RD AVE,SF,94122.0,B08,23.0,7651.0,3,3,3,True,NaN,1,MEDIC,2,8,4,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",001030104-M14
2,1030106,M36,30614,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:09:44 PM,04/12/2000 09:10:56 PM,04/12/2000 09:11:47 PM,NaN,04/12/2000 09:14:11 PM,04/12/2000 09:59:31 PM,04/12/2000 10:10:06 PM,Other,04/12/2000 10:43:40 PM,0 Block of FELL ST,SF,94102.0,B02,36.0,3111.0,3,3,3,False,NaN,1,MEDIC,1,2,6,Tenderloin,"(37.7764405100838, -122.418481123408)",001030106-M36
3,1030107,E01,30615,Alarms,04/12/2000,04/12/2000,04/12/2000 09:13:47 PM,04/12/2000 09:13:51 PM,04/12/2000 09:14:13 PM,04/12/2000 09:15:58 PM,04/12/2000 09:20:12 PM,NaN,NaN,Other,04/12/2000 09:24:19 PM,100 Block of JONES ST,SF,94102.0,B03,1.0,1456.0,3,3,3,False,NaN,1,ENGINE,3,3,6,Tenderloin,"(37.7825474000421, -122.412247935495)",001030107-E01
4,1030108,RS1,30616,Medical Incident,04/12/2000,04/12/2000,04/12/2000 09:14:43 PM,04/12/2000 09:16:11 PM,04/12/2000 09:16:24 PM,04/12/2000 09:18:20 PM,04/12/2000 09:20:08 PM,NaN,NaN,Other,04/12/2000 09:20:36 PM,700 Block of MARKET ST,SF,94108.0,B03,1.0,1322.0,3,3,3,False,NaN,1,RESCUE SQUAD,2,1,3,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",001030108-RS1

In [4]:
df.isnull().sum()

Call Number                                  0
Unit ID                                      0
Incident Number                              0
Call Type                                    0
Call Date                                    0
Watch Date                                   0
Received DtTm                                0
Entry DtTm                                   0
Dispatch DtTm                                0
Response DtTm                            57737
On Scene DtTm                           132521
Transport DtTm                          362478
Hospital DtTm                           415092
Call Final Disposition                       0
Available DtTm                           12416
Address                                      0
City                                         0
Zipcode of Incident                        607
Battalion                                    0
Station Area                                 9
Box                                          4
Original Priority                            0
Priority                                     0
Final Priority                               0
ALS Unit                                     0
Call Type Group                         499985
Number of Alarms                             0
Unit Type                                    0
Unit sequence in call dispatch               0
Fire Prevention District                     0
Supervisor District                          0
Neighborhooods - Analysis Boundaries         0
Location                                     0
RowID                                        0
dtype: int64

In [5]:
start_time = timeit.default_timer()
feature_engineering_multi.drop_useless(df)
feature_engineering_multi.time_cols(df)
feature_engineering_multi.fill_na_zipcode(df)
feature_engineering_multi.original_priority_na(df)
feature_engineering_multi.call_group_na(df)
feature_engineering_multi.unit_type_dummies(df)
feature_engineering_multi.call_group_merge_dummies(df)
elapsed = timeit.default_timer() - start_time
print('It took: '+ str(elapsed) + ' to run it.')

It took: 12.047333915019408 to run it.

In [ ]:
feature_engineering_multi.unit_type_dummies(df)

In [8]:
df.head()

,Unit ID,Call Type,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,Call to Dispatch,Respond to On Scene,Respond to Available,On Scene to Available,Total Call to Available,Hospital or Transport,Call Type Merged
0,E18,Medical Incident,2000-04-12 21:00:29,04/12/2000 09:01:40 PM,2000-04-12 21:02:00,NaT,NaT,NaT,NaT,NaT,94116,3,False,Potentially Life-Threatening,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",00:01:31,NaT,NaT,NaT,NaT,1,Medical Incident
1,M14,Medical Incident,2000-04-12 21:09:02,04/12/2000 09:10:17 PM,2000-04-12 21:10:29,2000-04-12 21:12:11,2000-04-12 21:19:36,2000-04-12 21:43:57,2000-04-12 22:03:33,2000-04-12 22:23:57,94122,3,True,Potentially Life-Threatening,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",00:01:27,00:07:25,01:11:46,01:04:21,01:14:55,0,Medical Incident
2,M36,Medical Incident,2000-04-12 21:09:44,04/12/2000 09:10:56 PM,2000-04-12 21:11:47,NaT,2000-04-12 21:14:11,2000-04-12 21:59:31,2000-04-12 22:10:06,2000-04-12 22:43:40,94102,3,False,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",00:02:03,NaT,NaT,01:29:29,01:33:56,0,Medical Incident
3,E01,Alarms,2000-04-12 21:13:47,04/12/2000 09:13:51 PM,2000-04-12 21:14:13,2000-04-12 21:15:58,2000-04-12 21:20:12,NaT,NaT,2000-04-12 21:24:19,94102,3,False,NaN,1,ENGINE,3,Tenderloin,"(37.7825474000421, -122.412247935495)",00:00:26,00:04:14,00:08:21,00:04:07,00:10:32,1,Alarms
4,RS1,Medical Incident,2000-04-12 21:14:43,04/12/2000 09:16:11 PM,2000-04-12 21:16:24,2000-04-12 21:18:20,2000-04-12 21:20:08,NaT,NaT,2000-04-12 21:20:36,94108,3,False,Potentially Life-Threatening,1,RESCUE SQUAD,2,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",00:01:41,00:01:48,00:02:16,00:00:28,00:05:53,1,Medical Incident

In [11]:
df

,Unit ID,Call Type,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,Call to Dispatch,Respond to On Scene,Respond to Available,On Scene to Available,Total Call to Available,Hospital or Transport,Call Type Merged
0,E18,Medical Incident,2000-04-12 21:00:29,04/12/2000 09:01:40 PM,2000-04-12 21:02:00,NaT,NaT,NaT,NaT,NaT,94116,3,False,Potentially Life-Threatening,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",00:01:31,NaT,NaT,NaT,NaT,1,Medical Incident
1,M14,Medical Incident,2000-04-12 21:09:02,04/12/2000 09:10:17 PM,2000-04-12 21:10:29,2000-04-12 21:12:11,2000-04-12 21:19:36,2000-04-12 21:43:57,2000-04-12 22:03:33,2000-04-12 22:23:57,94122,3,True,Potentially Life-Threatening,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",00:01:27,00:07:25,01:11:46,01:04:21,01:14:55,0,Medical Incident
2,M36,Medical Incident,2000-04-12 21:09:44,04/12/2000 09:10:56 PM,2000-04-12 21:11:47,NaT,2000-04-12 21:14:11,2000-04-12 21:59:31,2000-04-12 22:10:06,2000-04-12 22:43:40,94102,3,False,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",00:02:03,NaT,NaT,01:29:29,01:33:56,0,Medical Incident
3,E01,Alarms,2000-04-12 21:13:47,04/12/2000 09:13:51 PM,2000-04-12 21:14:13,2000-04-12 21:15:58,2000-04-12 21:20:12,NaT,NaT,2000-04-12 21:24:19,94102,3,False,NaN,1,ENGINE,3,Tenderloin,"(37.7825474000421, -122.412247935495)",00:00:26,00:04:14,00:08:21,00:04:07,00:10:32,1,Alarms
4,RS1,Medical Incident,2000-04-12 21:14:43,04/12/2000 09:16:11 PM,2000-04-12 21:16:24,2000-04-12 21:18:20,2000-04-12 21:20:08,NaT,NaT,2000-04-12 21:20:36,94108,3,False,Potentially Life-Threatening,1,RESCUE SQUAD,2,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",00:01:41,00:01:48,00:02:16,00:00:28,00:05:53,1,Medical Incident
5,T03,Citizen Assist / Service Call,2000-04-12 21:24:27,04/12/2000 09:24:54 PM,2000-04-12 21:25:10,2000-04-12 21:27:10,2000-04-12 21:30:26,NaT,NaT,2000-04-12 21:44:28,94109,3,False,NaN,1,TRUCK,1,Nob Hill,"(37.7884388430214, -122.414352343522)",00:00:43,00:03:16,00:17:18,00:14:02,00:20:01,1,Other
6,E38,Electrical Hazard,2000-04-12 21:25:55,04/12/2000 09:28:06 PM,2000-04-12 21:28:46,2000-04-12 21:29:59,2000-04-12 21:31:18,NaT,NaT,2000-04-12 21:39:36,94109,3,False,NaN,1,ENGINE,1,Nob Hill,"(37.7903696585646, -122.422328957341)",00:02:51,00:01:19,00:09:37,00:08:18,00:13:41,1,Other
7,E15,Odor (Strange / Unknown),2000-04-12 21:27:55,04/12/2000 09:28:38 PM,2000-04-12 21:30:27,2000-04-12 21:31:43,2000-04-12 21:34:57,NaT,NaT,2000-04-12 21:38:24,94112,3,False,NaN,1,ENGINE,1,Outer Mission,"(37.7183153380753, -122.441921085449)",00:02:32,00:03:14,00:06:41,00:03:27,00:10:29,1,Other
8,E08,Medical Incident,2000-04-12 21:27:45,04/12/2000 09:28:58 PM,2000-04-12 21:29:21,2000-04-12 21:31:26,2000-04-12 21:32:34,NaT,NaT,2000-04-12 21:45:28,94134,3,False,Potentially Life-Threatening,1,ENGINE,1,None,"(37.7750268633971, -122.392346204303)",00:01:36,00:01:08,00:14:02,00:12:54,00:17:43,1,Medical Incident
9,M17,Medical Incident,2000-04-12 21:29:54,04/12/2000 09:30:16 PM,2000-04-12 21:31:26,2000-04-12 21:32:41,2000-04-12 21:37:43,2000-04-12 21:48:49,NaT,2000-04-12 22:31:08,94124,1,True,Potentially Life-Threatening,1,MEDIC,1,Bayview Hunters Point,"(37.7335924152271, -122.38701801742)",00:01:32,00:05:02,00:58:27,00:53:25,01:01:14,1,Medical Incident
10,E13,Alarms,2000-04-12 21:30:54,04/12/2000 09:30:57 PM,2000-04-12 21:31:23,2000-04-12 21:34:01,2000-04-12 21:34:30,NaT,NaT,2000-04-12 21:50:48,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7942116655012, -122.402644729189)",00:00:29,00:00:29,00:16:47,00:16:18,00:19:54,1,Alarms
11,M18,Medical Incident,2000-04-12 21:31:55,04/12/2000 09:33:48 PM,2000-04-12 21:34:10,2000-04-12 21:35:59,2000-04-12 21:45:22,NaT,NaT,2000-04-12 21:49:52,94122,1,False,Potentially Life-Threatening,1,MEDIC,1,Sunset/Parkside,"(37.763482287794, -122.477678638767)",00:02:15,00:09:23,00:13:53,00:04:30,00:17:57,1,Medical Incident
12,M09,Medical Incident,2000-04-12 21:41:20,04/12/2000 09:41:39 PM,2000-04-12 21:43:19,2000-04-12 21:46:26,2000-04-12 21:52:57,NaT,NaT,2000-04-12 22:00:32,94110,1,True,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7572324112144, -122.415626198524)",00:01:59,00:06:31,00:14:06,00:07:35,00:19:12,1,Medical Incident
13,E08,Medical Incident,2000-04-12 21:46:09,04/12/2000 09:46:09 PM,2000-04-12 21:46:09,NaT,NaT,NaT,NaT,2000-04-12 21:48:27,94107,3,False,Potentially Life-Threatening,1,ENGINE,1,Mission Bay,"(37.7763329756243, -122.394035065186)",00:00:00,NaT,NaT,NaT,00:02:18,1,Medical Incident
14,E05,Alarms,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:48:07,2000-04-12 21:49:45,NaT,NaT,2000-04-12 22:19:27,94115,3,False,NaN,1,ENGINE,1,Western Addition,"(37.7826256736324, -122.434187755055)",00:01:17,00:01:38,00:31:20,00:29:42,00:33:59,1,Alarms
15,T06,Alarms,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:47:44,2000-04-12 21:50:09,NaT,NaT,2000-04-12 22:17:00,94115,3,False,NaN,1,TRUCK,2,Western Addition,"(37.7826256736324, -122.434187755055)",00:01:17,00:02:25,00:29:16,00:26:51,00:31:32,1,Alarms
16,M18,Medical Incident,2000-04-12 21:49:20,04/12/2000 09:50:14 PM,2000-04-12 21:50:44,2000-04-12 21:57:02,2000-04-12 22:02:05,NaT,NaT,2000-04-12 22:08:16,94116,2,False,Potentially Life-Threatening,1,MEDIC,1,Sunset/Parkside,"(37.7383172638778, -122.499533373462)",00:01:24,00:05:03,00:11:14,00:06:11,00:18:56,1,Medical Incident
17,E39,Other,2000-04-12 21:53:20,04/12/2000 09:54:32 PM,2000-04-12 21:54:49,NaT,2000-04-12 22:05:03,NaT,NaT,2000-04-12 22:22:22,94127,3,False,Non Life-threatening,1,ENGINE,1,West of Twin Peaks,"(37.738002083532, -122.446449647871)",00:01:29,NaT,NaT,00:17:19,00:29:02,1,Other
18,M10,Medical Incident,2000-04-12 21:57:18,04/12/2000 09:59:07 PM,2000-04-12 21:59:19,2000-04-12 22:00:04,2000-04-12 22:05:03,NaT,NaT,2000-04-12 23:16:36,94118,3,False,Potentially Life-Threatening,1,MEDIC,1,Lone Mountain/USF,"(37.7781665631084, -122.450200042476)",00:02:01,00:04:59,01:16:32,01:11:33,01:19:18,1,Medical Incident
19,E33,Structure Fire,2000-04-12 22:04:42,04/12/2000 10:04:46 PM,2000-04-12 22:04:58,2000-04-12 22:06:03,2000-04-12 22:08:46,NaT,NaT,2000-04-12 22:10:19,94112,3,False,Alarm,1,ENGINE,1,Oceanview/Merced/Ingleside,"(37.7131720494385, -122.459024434517)",00:00:16,00:02:43,00:04:16,00:01:33,00:05:37,1,Structure Fire
20,E36,Medical Incident,2000-04-12 22:05:41,04/12/2000 10:06:59 PM,2000-04-12 22:07:11,2000-04-12 22:08:08,2000-04-12 22:09:30,NaT,NaT,2000-04-12 22:12:38,94103,3,False,Potentially Life-Threatening,1,ENGINE,1,South of Market,"(37.7762305177878, -122.414711004673)",00:01:30,00:01:22,00:04:30,00:03:08,00:06:57,1,Medical Incident
21,M41,Medical Incident,2000-04-12 22:06:10,04/12/2000 10:07:24 PM,2000-04-12 22:08:04,2000-04-12 22:10:47,2000-04-12 22:20:31,NaT,NaT,2000-04-12 23:18:29,94102,1,True,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.7841909047888, -122.410119483452)",00:01:54,00:09:44,01:07:42,00:57:58,01:12:19,1,Medical Incident
22,K439,Medical Incident,2000-04-12 22:08:59,04/12/2000 10:11:22 PM,2000-04-12 22:13:08,2000-04-12 22:17:11,2000-04-12 22:19:49,2000-04-12 22:23:38,2000-04-12 22:51:51,2000-04-12 22:52:39,94115,2,False,Potentially Life-Threatening,1,PRIVATE,1,Pacific Heights,"(37.7851959510121, -122.440715841453)",00:04:09,00:02:38,00:35:28,00:32:50,00:43:40,0,Medical Incident
23,E10,Other,2000-04-12 22:12:12,04/12/2000 10:14:28 PM,2000-04-12 22:14:58,2000-04-12 22:16:26,2000-04-12 22:19:01,NaT,NaT,2000-04-12 22:25:19,94118,3,False,Non Life-threatening,1,ENGINE,1,Presidio Heights,"(37.7828208961152, -122.454351033841)",00:02:46,00:02:35,00:08:53,00:06:18,00:13:07,1,Other
24,RA13,Medical Incident,2000-04-12 22:19:06,04/12/2000 10:20:31 PM,2000-04-12 22:22:31,2000-04-12 22:23:23,2000-04-12 22:34:16,NaT,2000-04-12 23:12:29,2000-04-12 23:29:15,94103,1,False,Potentially Life-Threatening,1,AIRPORT,1,South of Market,"(37.7815374331217, -122.409518341416)",00:03:25,00:10:53,01:05:52,00:54:59,01:10:09,1,Medical Incident
25,M05,Medical Incident,2000-04-12 22:29:10,04/12/2000 10:30:41 PM,2000-04-12 22:32:34,2000-04-12 22:34:47,2000-04-12 22:37:28,2000-04-12 22:41:39,2000-04-12 22:53:49,2000-04-12 23:10:27,94117,E,False,Potentially Life-Threatening,1,MEDIC,1,Haight Ashbury,"(37.7691652248423, -122.453536875377)",00:03:24,00:02:41,00:35:40,00:32:59,00:41:17,0,Medical Incident
26,M36,Medical Incident,2000-04-12 22:43:54,04/12/2000 10:45:53 PM,2000-04-12 22:49:59,2000-04-12 22:50:35,2000-04-12 22:53:18,2000-04-12 23:11:36,2000-04-12 23:22:17,2000-04-12 23:42:43,94103,1,False,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7741251002903, -122.418810211803)",00:06:05,00:02:43,00:52:08,00:49:25,00:58:49,0,Medical Incident
27,M03,Medical Incident,2000-04-12 23:06:10,04/12/2000 11:06:57 PM,2000-04-12 23:08:11,2000-04-12 23:10:20,2000-04-12 23:16:11,2000-04-12 23:38:46,2000-04-13 00:04:40,2000-04-13 00:15:33,94102,1,True,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.782943523582, -122.419988441304)",00:02:01,00:05:51,01:05:13,00:59:22,01:09:23,0,Medical Incident
28,M14,Medical Incident,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:17:45,2000-04-12 23:21:24,2000-04-13 00:02:32,2000-04-13 00:02:36,2000-04-13 00:24:07,94118,3,True,Potentially Life-Threatening,1,MEDIC,2,Inner Richmond,"(37.7817385392724, -122.469629422744)",00:01:55,00:03:39,01:06:22,01:02:43,01:08:58,0,Medical Incident
29,RC2,Medical Incident,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:19:54,NaT,NaT,NaT,2000-04-12 23:49:28,94118,3,True,Potentially Life-Threatening,1,RESCUE CAPTAIN,4,Inner Richmond,"(37.7817385392724, -122.469629422744)",00:01:55,NaT,00:29:34,NaT,00:34:19,1,Medical Incident
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499970,M01,Medical Incident,2002-07-15 12:26:06,07/15/2002 12:27:14 PM,2002-07-15 12:28:58,2002-07-15 12:29:17,2002-07-15 12:31:16,2002-07-15 12:33:47,NaT,2002-07-15 12:38:27,94108,3,True,Potentially Life-Threatening,1,MEDIC,1,Financial District/South Beach,"(37.7904631779771, -122.405941469147)",00:02:52,00:01:59,00:09:10,00:07:11,00:12:21,1,Medical Incident
499971,E08,Medical Incident,2002-07-15 12:28:22,07/15/2002 12:30:46 PM,2002-07-15 12:32:33,2002-07-15 12:35:56,2002-07-15 12:37:39,NaT,NaT,2002-07-15 13:23:27,94107,3,False,Potentially Life-Threatening,1,ENGINE,1,Financial District/South Beach,"(37.7836226300515, -122.395934034616)",00:04:11,00:01:43,00:47:31,00:45:48,00:55:05,1,Medical Incident
499972,M41,Medical Incident,2002-07-15 12:28:22,07/15/2002 12:30:46 PM,2002-07-15 12:32:33,2002-07-15 12:34:56,2002-07-15 12:40:10,2002-07-15 13:03:17,NaT,2002-07-15 13:52:14,94107,3,True,Potentially Life-Threatening,1,MEDIC,2,Financial District/South Beach,"(37.7836226300515, -122.395934034616)",00:04:11,00:05:14,01:17:18,01:12:04,01:23:52,1,Medical Incident
499973,T17,Citizen Assist / Service Call,2002-07-15 12:36:37,07/15/2002 12:37:29 PM,2002-07-15 12:37:34,2002-07-15 12:38:28,NaT,NaT,NaT,2002-07-15 12:41:18,94124,3,False,NaN,1,TRUCK,1,Bayview Hunters Point,"(37.7345025151708, -122.382247020863)",00:00:57,NaT,00:02:50,NaT,00:04:41,1,Other
499974,E35,Medical Incident,2002-07-15 12:41:49,07/15/2002 12:42:21 PM,2002-07-15 12:43:09,2002-07-15 12:43:59,2002-07-15 12:45:56,NaT,NaT,2002-07-15 12:47:15,94105,3,False,Potentially Life-Threatening,1,ENGINE,1,Financial District/South Beach,"(37.7926791171072, -122.396853499969)",00:01:20,00:01:57,00:03:16,00:01:19,00:05:26,1,Medical Incident
499975,M01,Medical Incident,2002-07-15 12:41:49,07/15/2002 12:42:21 PM,2002-07-15 12:43:09,2002-07-15 12:44:10,2002-07-15 12:45:58,2002-07-15 12:47:07,NaT,2002-07-15 12:47:12,94105,3,True,Potentially Life-Threatening,1,MEDIC,2,Financial District/South Beach,"(37.7926791171072, -122.396853499969)",00:01:20,00:01:48,00:03:02,00:01:14,00:05:23,1,Medical Incident
499976,M29,Medical Incident,2002-07-15 12:42:22,07/15/2002 12:43:45 PM,2002-07-15 12:47:19,2002-07-15 12:48:50,2002-07-15 12:53:41,2002-07-15 12:55:49,NaT,2002-07-15 12:55:52,94110,1,True,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7642444942899, -122.419521866555)",00:04:57,00:04:51,00:07:02,00:02:11,00:13:30,1,Medical Incident
499977,M13,Medical Incident,2002-07-15 12:59:55,07/15/2002 01:01:41 PM,2002-07-15 13:04:44,2002-07-15 13:05:04,2002-07-15 13:14:10,NaT,NaT,2002-07-15 13:15:31,94105,2,True,Potentially Life-Threatening,1,MEDIC,1,Financial District/South Beach,"(37.790069767129, -122.400173175725)",00:04:49,00:09:06,00:10:27,00:01:21,00:15:36,1,Medical Incident
499978,A208,Medical Incident,2002-07-15 13:00:43,07/15/2002 01:02:02 PM,2002-07-15 13:03:03,2002-07-15 13:03:28,2002-07-15 13:06:44,NaT,NaT,2002-07-15 13:27:00,94114,1,False,Potentially Life-Threatening,1,PRIVATE,1,Castro/Upper Market,"(37.7675044595983, -122.428948567606)",00:02:20,00:03:16,00:23:32,00:20:16,00:26:17,1,Medical Incident
499979,E41,Medical Incident,2002-07-15 13:01:58,07/15/2002 01:03:38 PM,2002-07-15 13:04:32,2002-07-15 13:05:09,2002-07-15 13:07:39,NaT,NaT,2002-07-15 13:41:07,94109,3,False,Potentially Life-Threatening,1,ENGINE,1,Russian Hill,"(37.7959454020039, -122.421768166879)",00:02:34,00:02:30,00:35:58,00:33:28,00:39:09,1,Medical Incident
499980,M38,Medical Incident,2002-07-15 13:01:58,07/15/2002 01:03:38 PM,2002-07-15 13:04:32,2002-07-15 13:05:39,2002-07-15 13:08:12,2002-07-15 13:16:16,NaT,2002-07-15 13:16:21,94109,3,True,Potentially Life-Threatening,1,MEDIC,2,Russian Hill,"(37.7959454020039, -122.421768166879)",00:02:34,00:02:33,00:10:42,00:08:09,00:14:23,1,Medical Incident
499981,E11,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,2002-07-15 13:11:39,2002-07-15 13:13:50,NaT,NaT,2002-07-15 15:13:19,94110,3,True,Potentially Life-Threatening,1,ENGINE,1,Mission,"(37.750643608226, -122.419135776556)",00:00:26,00:02:11,02:01:40,01:59:29,02:02:52,1,Medical Incident
499982,M07,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,2002-07-15 13:11:26,2002-07-15 13:14:49,NaT,NaT,2002-07-15 13:51:56,94110,3,True,Potentially Life-Threatening,1,MEDIC,2,Mission,"(37.750643608226, -122.419135776556)",00:00:26,00:03:23,00:40:30,00:37:07,00:41:29,1,Medical Incident
499983,RC4,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,NaT,NaT,NaT,NaT,2002-07-15 13:15:27,94110,3,True,Potentially Life-Threatening,1,RESCUE CAPTAIN,3,Mission,"(37.750643608226, -122.419135776556)",00:00:26,NaT,NaT,NaT,00:05:00,1,Medical Incident
499984,E06,Medical Incident,2002-07-15 13:10:20,07/15/2002 01:11:11 PM,2002-07-15 13:11:26,2002-07-15 13:12:19,2002-07-15 13:14:06,NaT,NaT,2002-07-15 13:20:46,94110,3,False,Potentially Life-Threatening,1,ENGINE,1,Mission,"(37.7648333975842, -122.422364680364)",00:01:06,00:01:47,00:08:27,00:06:40,00:10:26,1,Medical Incident
499985,M36,Medical Incident,2002-07-15 13:10:20,07/15/2002 01:11:11 PM,2002-07-15 13:11:26,2002-07-15 13:12:08,2002-07-15 13:15:47,2002-07-15 13:35:43,NaT,2002-07-15 13:35:46,94110,3,True,Potentially Life-Threatening,1,MEDIC,2,Mission,"(37.7648333975842, -122.422364680364)",00:01:06,00:03:39,00:23:38,00:19:59,00:25:26,1,Medical Incident
499986,E09,Structure Fire,2002-07-15 13:19:14,07/15/2002 01:19:14 PM,2002-07-15 13:19:19,2002-07-15 13:20:50,2002-07-15 13:22:38,NaT,NaT,2002-07-15 13:23:20,94110,3,False,Alarm,1,ENGINE,1,Bernal Heights,"(37.7455711633416, -122.410498378711)",00:00:05,00:01:48,00:02:30,00:00:42,00:04:06,1,Structure Fire
499987,T09,Structure Fire,2002-07-15 13:19:14,07/15/2002 01:19:14 PM,2002-07-15 13:19:19,2002-07-15 13:19:43,NaT,NaT,NaT,2002-07-15 13:23:14,94110,3,False,Alarm,1,TRUCK,2,Bernal Heights,"(37.7455711633416, -122.410498378711)",00:00:05,NaT,00:03:31,NaT,00:04:00,1,Structure Fire
499988,M13,Medical Incident,2002-07-15 13:22:54,07/15/2002 01:24:04 PM,2002-07-15 13:24:50,2002-07-15 13:25:58,2002-07-15 13:41:31,2002-07-15 13:50:48,NaT,2002-07-15 13:50:51,94103,1,True,Potentially Life-Threatening,1,MEDIC,1,South of Market,"(37.7812876870909, -122.411318055371)",00:01:56,00:15:33,00:24:53,00:09:20,00:27:57,1,Medical Incident
499989,B02,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,NaT,2002-07-15 13:51:57,NaT,NaT,2002-07-15 14:31:52,94102,3,False,Potentially Life-Threatening,1,CHIEF,3,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,NaT,NaT,00:39:55,01:09:21,1,Medical Incident
499990,E36,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,2002-07-15 13:26:34,2002-07-15 13:27:36,NaT,NaT,2002-07-15 13:35:24,94102,3,False,Potentially Life-Threatening,1,ENGINE,1,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,00:01:02,00:08:50,00:07:48,00:12:53,1,Medical Incident
499991,M03,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,2002-07-15 13:26:21,2002-07-15 13:29:37,2002-07-15 13:56:53,2002-07-15 14:06:36,2002-07-15 14:21:31,94102,3,True,Potentially Life-Threatening,1,MEDIC,2,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,00:03:16,00:55:10,00:51:54,00:59:00,0,Medical Incident
499992,M12,Medical Incident,2002-07-15 13:37:21,07/15/2002 01:41:02 PM,2002-07-15 13:43:11,2002-07-15 13:43:41,2002-07-15 13:51:28,2002-07-15 14:12:20,NaT,2002-07-15 14:45:53,94114,2,True,Potentially Life-Threatening,1,MEDIC,1,Castro/Upper Market,"(37.7627665130308, -122.429612363376)",00:05:50,00:07:47,01:02:12,00:54:25,01:08:32,1,Medical Incident
499993,E07,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:12,2002-07-15 13:46:34,NaT,NaT,2002-07-15 14:00:55,94110,3,True,Potentially Life-Threatening,1,ENGINE,1,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:03:22,00:17:43,00:14:21,00:22:54,1,Medical Incident
499994,E32,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:32,2002-07-15 13:47:20,NaT,NaT,2002-07-15 13:52:04,94110,3,False,Potentially Life-Threatening,1,ENGINE,2,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:03:48,00:08:32,00:04:44,00:14:03,1,Medical Incident
499995,M43,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:30,2002-07-15 13:48:29,NaT,NaT,2002-07-15 14:15:55,94110,3,True,Potentially Life-Threatening,1,MEDIC,3,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:04:59,00:32:25,00:27:26,00:37:54,1,Medical Incident
499996,E05,Alarms,2002-07-15 13:48:57,07/15/2002 01:49:05 PM,2002-07-15 13:49:09,2002-07-15 13:50:57,2002-07-15 13:53:44,NaT,NaT,2002-07-15 13:53:47,94115,3,False,NaN,1,ENGINE,1,Western Addition,"(37.7823648993622, -122.428294883003)",00:00:12,00:02:47,00:02:50,00:00:03,00:04:50,1,Alarms
499997,M29,Medical Incident,2002-07-15 13:48:36,07/15/2002 01:50:32 PM,2002-07-15 13:50:55,2002-07-15 13:51:13,2002-07-15 13:59:11,2002-07-15 14:00:29,NaT,2002-07-15 14:00:32,94110,1,True,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7552947827711, -122.420964094826)",00:02:19,00:07:58,00:09:19,00:01:21,00:11:56,1,Medical Incident
499998,M36,Medical Incident,2002-07-15 13:49:37,07/15/2002 01:51:56 PM,2002-07-15 13:53:15,2002-07-15 13:54:51,2002-07-15 13:57:44,2002-07-15 14:05:37,2002-07-15 14:29:08,2002-07-15 14:33:44,94103,1,True,Potentially Life-Threatening,1,MEDIC,1,South of Market,"(37.7762305177878, -122.414711004673)",00:03:38,00:02:53,00:38:53,00:36:00,00:44:07,0,Medical Incident
499999,E32,Structure Fire,2002-07-15 13:53:49,07/15/2002 01:53:49 PM,2002-07-15 13:55:42,2002-07-15 13:56:01,NaT,NaT,NaT,2002-07-15 13:58:51,94110,3,False,Alarm,1,ENGINE,1,Mission,"(37.7525060662321, -122.414086032423)",00:01:53,NaT,00:02:50,NaT,00:05:02,1,Structure Fire

In [19]:
dummy = pd.get_dummies(df['Unit Type'])

In [21]:
q = pd.concat([df,dummy], axis=1)

In [22]:
q

,Unit ID,Call Type,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,On Scene DtTm,Transport DtTm,Hospital DtTm,Available DtTm,Zipcode of Incident,Original Priority,ALS Unit,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Neighborhooods - Analysis Boundaries,Location,Call to Dispatch,Respond to On Scene,Respond to Available,On Scene to Available,Total Call to Available,Hospital or Transport,Call Type Merged,AIRPORT,CHIEF,ENGINE,INVESTIGATION,MEDIC,PRIVATE,RESCUE CAPTAIN,RESCUE SQUAD,SUPPORT,TRUCK
0,E18,Medical Incident,2000-04-12 21:00:29,04/12/2000 09:01:40 PM,2000-04-12 21:02:00,NaT,NaT,NaT,NaT,NaT,94116,3,False,Potentially Life-Threatening,1,ENGINE,1,Sunset/Parkside,"(37.7487247711275, -122.495504020186)",00:01:31,NaT,NaT,NaT,NaT,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
1,M14,Medical Incident,2000-04-12 21:09:02,04/12/2000 09:10:17 PM,2000-04-12 21:10:29,2000-04-12 21:12:11,2000-04-12 21:19:36,2000-04-12 21:43:57,2000-04-12 22:03:33,2000-04-12 22:23:57,94122,3,True,Potentially Life-Threatening,1,MEDIC,2,Sunset/Parkside,"(37.7540326780595, -122.502185504543)",00:01:27,00:07:25,01:11:46,01:04:21,01:14:55,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
2,M36,Medical Incident,2000-04-12 21:09:44,04/12/2000 09:10:56 PM,2000-04-12 21:11:47,NaT,2000-04-12 21:14:11,2000-04-12 21:59:31,2000-04-12 22:10:06,2000-04-12 22:43:40,94102,3,False,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.7764405100838, -122.418481123408)",00:02:03,NaT,NaT,01:29:29,01:33:56,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
3,E01,Alarms,2000-04-12 21:13:47,04/12/2000 09:13:51 PM,2000-04-12 21:14:13,2000-04-12 21:15:58,2000-04-12 21:20:12,NaT,NaT,2000-04-12 21:24:19,94102,3,False,NaN,1,ENGINE,3,Tenderloin,"(37.7825474000421, -122.412247935495)",00:00:26,00:04:14,00:08:21,00:04:07,00:10:32,1,Alarms,0,0,1,0,0,0,0,0,0,0
4,RS1,Medical Incident,2000-04-12 21:14:43,04/12/2000 09:16:11 PM,2000-04-12 21:16:24,2000-04-12 21:18:20,2000-04-12 21:20:08,NaT,NaT,2000-04-12 21:20:36,94108,3,False,Potentially Life-Threatening,1,RESCUE SQUAD,2,Financial District/South Beach,"(37.7863072236365, -122.405294845215)",00:01:41,00:01:48,00:02:16,00:00:28,00:05:53,1,Medical Incident,0,0,0,0,0,0,0,1,0,0
5,T03,Citizen Assist / Service Call,2000-04-12 21:24:27,04/12/2000 09:24:54 PM,2000-04-12 21:25:10,2000-04-12 21:27:10,2000-04-12 21:30:26,NaT,NaT,2000-04-12 21:44:28,94109,3,False,NaN,1,TRUCK,1,Nob Hill,"(37.7884388430214, -122.414352343522)",00:00:43,00:03:16,00:17:18,00:14:02,00:20:01,1,Other,0,0,0,0,0,0,0,0,0,1
6,E38,Electrical Hazard,2000-04-12 21:25:55,04/12/2000 09:28:06 PM,2000-04-12 21:28:46,2000-04-12 21:29:59,2000-04-12 21:31:18,NaT,NaT,2000-04-12 21:39:36,94109,3,False,NaN,1,ENGINE,1,Nob Hill,"(37.7903696585646, -122.422328957341)",00:02:51,00:01:19,00:09:37,00:08:18,00:13:41,1,Other,0,0,1,0,0,0,0,0,0,0
7,E15,Odor (Strange / Unknown),2000-04-12 21:27:55,04/12/2000 09:28:38 PM,2000-04-12 21:30:27,2000-04-12 21:31:43,2000-04-12 21:34:57,NaT,NaT,2000-04-12 21:38:24,94112,3,False,NaN,1,ENGINE,1,Outer Mission,"(37.7183153380753, -122.441921085449)",00:02:32,00:03:14,00:06:41,00:03:27,00:10:29,1,Other,0,0,1,0,0,0,0,0,0,0
8,E08,Medical Incident,2000-04-12 21:27:45,04/12/2000 09:28:58 PM,2000-04-12 21:29:21,2000-04-12 21:31:26,2000-04-12 21:32:34,NaT,NaT,2000-04-12 21:45:28,94134,3,False,Potentially Life-Threatening,1,ENGINE,1,None,"(37.7750268633971, -122.392346204303)",00:01:36,00:01:08,00:14:02,00:12:54,00:17:43,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
9,M17,Medical Incident,2000-04-12 21:29:54,04/12/2000 09:30:16 PM,2000-04-12 21:31:26,2000-04-12 21:32:41,2000-04-12 21:37:43,2000-04-12 21:48:49,NaT,2000-04-12 22:31:08,94124,1,True,Potentially Life-Threatening,1,MEDIC,1,Bayview Hunters Point,"(37.7335924152271, -122.38701801742)",00:01:32,00:05:02,00:58:27,00:53:25,01:01:14,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
10,E13,Alarms,2000-04-12 21:30:54,04/12/2000 09:30:57 PM,2000-04-12 21:31:23,2000-04-12 21:34:01,2000-04-12 21:34:30,NaT,NaT,2000-04-12 21:50:48,94111,3,False,NaN,1,ENGINE,1,Chinatown,"(37.7942116655012, -122.402644729189)",00:00:29,00:00:29,00:16:47,00:16:18,00:19:54,1,Alarms,0,0,1,0,0,0,0,0,0,0
11,M18,Medical Incident,2000-04-12 21:31:55,04/12/2000 09:33:48 PM,2000-04-12 21:34:10,2000-04-12 21:35:59,2000-04-12 21:45:22,NaT,NaT,2000-04-12 21:49:52,94122,1,False,Potentially Life-Threatening,1,MEDIC,1,Sunset/Parkside,"(37.763482287794, -122.477678638767)",00:02:15,00:09:23,00:13:53,00:04:30,00:17:57,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
12,M09,Medical Incident,2000-04-12 21:41:20,04/12/2000 09:41:39 PM,2000-04-12 21:43:19,2000-04-12 21:46:26,2000-04-12 21:52:57,NaT,NaT,2000-04-12 22:00:32,94110,1,True,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7572324112144, -122.415626198524)",00:01:59,00:06:31,00:14:06,00:07:35,00:19:12,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
13,E08,Medical Incident,2000-04-12 21:46:09,04/12/2000 09:46:09 PM,2000-04-12 21:46:09,NaT,NaT,NaT,NaT,2000-04-12 21:48:27,94107,3,False,Potentially Life-Threatening,1,ENGINE,1,Mission Bay,"(37.7763329756243, -122.394035065186)",00:00:00,NaT,NaT,NaT,00:02:18,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
14,E05,Alarms,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:48:07,2000-04-12 21:49:45,NaT,NaT,2000-04-12 22:19:27,94115,3,False,NaN,1,ENGINE,1,Western Addition,"(37.7826256736324, -122.434187755055)",00:01:17,00:01:38,00:31:20,00:29:42,00:33:59,1,Alarms,0,0,1,0,0,0,0,0,0,0
15,T06,Alarms,2000-04-12 21:45:28,04/12/2000 09:46:21 PM,2000-04-12 21:46:45,2000-04-12 21:47:44,2000-04-12 21:50:09,NaT,NaT,2000-04-12 22:17:00,94115,3,False,NaN,1,TRUCK,2,Western Addition,"(37.7826256736324, -122.434187755055)",00:01:17,00:02:25,00:29:16,00:26:51,00:31:32,1,Alarms,0,0,0,0,0,0,0,0,0,1
16,M18,Medical Incident,2000-04-12 21:49:20,04/12/2000 09:50:14 PM,2000-04-12 21:50:44,2000-04-12 21:57:02,2000-04-12 22:02:05,NaT,NaT,2000-04-12 22:08:16,94116,2,False,Potentially Life-Threatening,1,MEDIC,1,Sunset/Parkside,"(37.7383172638778, -122.499533373462)",00:01:24,00:05:03,00:11:14,00:06:11,00:18:56,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
17,E39,Other,2000-04-12 21:53:20,04/12/2000 09:54:32 PM,2000-04-12 21:54:49,NaT,2000-04-12 22:05:03,NaT,NaT,2000-04-12 22:22:22,94127,3,False,Non Life-threatening,1,ENGINE,1,West of Twin Peaks,"(37.738002083532, -122.446449647871)",00:01:29,NaT,NaT,00:17:19,00:29:02,1,Other,0,0,1,0,0,0,0,0,0,0
18,M10,Medical Incident,2000-04-12 21:57:18,04/12/2000 09:59:07 PM,2000-04-12 21:59:19,2000-04-12 22:00:04,2000-04-12 22:05:03,NaT,NaT,2000-04-12 23:16:36,94118,3,False,Potentially Life-Threatening,1,MEDIC,1,Lone Mountain/USF,"(37.7781665631084, -122.450200042476)",00:02:01,00:04:59,01:16:32,01:11:33,01:19:18,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
19,E33,Structure Fire,2000-04-12 22:04:42,04/12/2000 10:04:46 PM,2000-04-12 22:04:58,2000-04-12 22:06:03,2000-04-12 22:08:46,NaT,NaT,2000-04-12 22:10:19,94112,3,False,Alarm,1,ENGINE,1,Oceanview/Merced/Ingleside,"(37.7131720494385, -122.459024434517)",00:00:16,00:02:43,00:04:16,00:01:33,00:05:37,1,Structure Fire,0,0,1,0,0,0,0,0,0,0
20,E36,Medical Incident,2000-04-12 22:05:41,04/12/2000 10:06:59 PM,2000-04-12 22:07:11,2000-04-12 22:08:08,2000-04-12 22:09:30,NaT,NaT,2000-04-12 22:12:38,94103,3,False,Potentially Life-Threatening,1,ENGINE,1,South of Market,"(37.7762305177878, -122.414711004673)",00:01:30,00:01:22,00:04:30,00:03:08,00:06:57,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
21,M41,Medical Incident,2000-04-12 22:06:10,04/12/2000 10:07:24 PM,2000-04-12 22:08:04,2000-04-12 22:10:47,2000-04-12 22:20:31,NaT,NaT,2000-04-12 23:18:29,94102,1,True,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.7841909047888, -122.410119483452)",00:01:54,00:09:44,01:07:42,00:57:58,01:12:19,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
22,K439,Medical Incident,2000-04-12 22:08:59,04/12/2000 10:11:22 PM,2000-04-12 22:13:08,2000-04-12 22:17:11,2000-04-12 22:19:49,2000-04-12 22:23:38,2000-04-12 22:51:51,2000-04-12 22:52:39,94115,2,False,Potentially Life-Threatening,1,PRIVATE,1,Pacific Heights,"(37.7851959510121, -122.440715841453)",00:04:09,00:02:38,00:35:28,00:32:50,00:43:40,0,Medical Incident,0,0,0,0,0,1,0,0,0,0
23,E10,Other,2000-04-12 22:12:12,04/12/2000 10:14:28 PM,2000-04-12 22:14:58,2000-04-12 22:16:26,2000-04-12 22:19:01,NaT,NaT,2000-04-12 22:25:19,94118,3,False,Non Life-threatening,1,ENGINE,1,Presidio Heights,"(37.7828208961152, -122.454351033841)",00:02:46,00:02:35,00:08:53,00:06:18,00:13:07,1,Other,0,0,1,0,0,0,0,0,0,0
24,RA13,Medical Incident,2000-04-12 22:19:06,04/12/2000 10:20:31 PM,2000-04-12 22:22:31,2000-04-12 22:23:23,2000-04-12 22:34:16,NaT,2000-04-12 23:12:29,2000-04-12 23:29:15,94103,1,False,Potentially Life-Threatening,1,AIRPORT,1,South of Market,"(37.7815374331217, -122.409518341416)",00:03:25,00:10:53,01:05:52,00:54:59,01:10:09,1,Medical Incident,1,0,0,0,0,0,0,0,0,0
25,M05,Medical Incident,2000-04-12 22:29:10,04/12/2000 10:30:41 PM,2000-04-12 22:32:34,2000-04-12 22:34:47,2000-04-12 22:37:28,2000-04-12 22:41:39,2000-04-12 22:53:49,2000-04-12 23:10:27,94117,E,False,Potentially Life-Threatening,1,MEDIC,1,Haight Ashbury,"(37.7691652248423, -122.453536875377)",00:03:24,00:02:41,00:35:40,00:32:59,00:41:17,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
26,M36,Medical Incident,2000-04-12 22:43:54,04/12/2000 10:45:53 PM,2000-04-12 22:49:59,2000-04-12 22:50:35,2000-04-12 22:53:18,2000-04-12 23:11:36,2000-04-12 23:22:17,2000-04-12 23:42:43,94103,1,False,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7741251002903, -122.418810211803)",00:06:05,00:02:43,00:52:08,00:49:25,00:58:49,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
27,M03,Medical Incident,2000-04-12 23:06:10,04/12/2000 11:06:57 PM,2000-04-12 23:08:11,2000-04-12 23:10:20,2000-04-12 23:16:11,2000-04-12 23:38:46,2000-04-13 00:04:40,2000-04-13 00:15:33,94102,1,True,Potentially Life-Threatening,1,MEDIC,1,Tenderloin,"(37.782943523582, -122.419988441304)",00:02:01,00:05:51,01:05:13,00:59:22,01:09:23,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
28,M14,Medical Incident,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:17:45,2000-04-12 23:21:24,2000-04-13 00:02:32,2000-04-13 00:02:36,2000-04-13 00:24:07,94118,3,True,Potentially Life-Threatening,1,MEDIC,2,Inner Richmond,"(37.7817385392724, -122.469629422744)",00:01:55,00:03:39,01:06:22,01:02:43,01:08:58,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
29,RC2,Medical Incident,2000-04-12 23:15:09,04/12/2000 11:16:44 PM,2000-04-12 23:17:04,2000-04-12 23:19:54,NaT,NaT,NaT,2000-04-12 23:49:28,94118,3,True,Potentially Life-Threatening,1,RESCUE CAPTAIN,4,Inner Richmond,"(37.7817385392724, -122.469629422744)",00:01:55,NaT,00:29:34,NaT,00:34:19,1,Medical Incident,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499970,M01,Medical Incident,2002-07-15 12:26:06,07/15/2002 12:27:14 PM,2002-07-15 12:28:58,2002-07-15 12:29:17,2002-07-15 12:31:16,2002-07-15 12:33:47,NaT,2002-07-15 12:38:27,94108,3,True,Potentially Life-Threatening,1,MEDIC,1,Financial District/South Beach,"(37.7904631779771, -122.405941469147)",00:02:52,00:01:59,00:09:10,00:07:11,00:12:21,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499971,E08,Medical Incident,2002-07-15 12:28:22,07/15/2002 12:30:46 PM,2002-07-15 12:32:33,2002-07-15 12:35:56,2002-07-15 12:37:39,NaT,NaT,2002-07-15 13:23:27,94107,3,False,Potentially Life-Threatening,1,ENGINE,1,Financial District/South Beach,"(37.7836226300515, -122.395934034616)",00:04:11,00:01:43,00:47:31,00:45:48,00:55:05,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499972,M41,Medical Incident,2002-07-15 12:28:22,07/15/2002 12:30:46 PM,2002-07-15 12:32:33,2002-07-15 12:34:56,2002-07-15 12:40:10,2002-07-15 13:03:17,NaT,2002-07-15 13:52:14,94107,3,True,Potentially Life-Threatening,1,MEDIC,2,Financial District/South Beach,"(37.7836226300515, -122.395934034616)",00:04:11,00:05:14,01:17:18,01:12:04,01:23:52,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499973,T17,Citizen Assist / Service Call,2002-07-15 12:36:37,07/15/2002 12:37:29 PM,2002-07-15 12:37:34,2002-07-15 12:38:28,NaT,NaT,NaT,2002-07-15 12:41:18,94124,3,False,NaN,1,TRUCK,1,Bayview Hunters Point,"(37.7345025151708, -122.382247020863)",00:00:57,NaT,00:02:50,NaT,00:04:41,1,Other,0,0,0,0,0,0,0,0,0,1
499974,E35,Medical Incident,2002-07-15 12:41:49,07/15/2002 12:42:21 PM,2002-07-15 12:43:09,2002-07-15 12:43:59,2002-07-15 12:45:56,NaT,NaT,2002-07-15 12:47:15,94105,3,False,Potentially Life-Threatening,1,ENGINE,1,Financial District/South Beach,"(37.7926791171072, -122.396853499969)",00:01:20,00:01:57,00:03:16,00:01:19,00:05:26,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499975,M01,Medical Incident,2002-07-15 12:41:49,07/15/2002 12:42:21 PM,2002-07-15 12:43:09,2002-07-15 12:44:10,2002-07-15 12:45:58,2002-07-15 12:47:07,NaT,2002-07-15 12:47:12,94105,3,True,Potentially Life-Threatening,1,MEDIC,2,Financial District/South Beach,"(37.7926791171072, -122.396853499969)",00:01:20,00:01:48,00:03:02,00:01:14,00:05:23,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499976,M29,Medical Incident,2002-07-15 12:42:22,07/15/2002 12:43:45 PM,2002-07-15 12:47:19,2002-07-15 12:48:50,2002-07-15 12:53:41,2002-07-15 12:55:49,NaT,2002-07-15 12:55:52,94110,1,True,Potentially Life-Threatening,1,MEDIC,1,Mission,"(37.7642444942899, -122.419521866555)",00:04:57,00:04:51,00:07:02,00:02:11,00:13:30,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499977,M13,Medical Incident,2002-07-15 12:59:55,07/15/2002 01:01:41 PM,2002-07-15 13:04:44,2002-07-15 13:05:04,2002-07-15 13:14:10,NaT,NaT,2002-07-15 13:15:31,94105,2,True,Potentially Life-Threatening,1,MEDIC,1,Financial District/South Beach,"(37.790069767129, -122.400173175725)",00:04:49,00:09:06,00:10:27,00:01:21,00:15:36,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499978,A208,Medical Incident,2002-07-15 13:00:43,07/15/2002 01:02:02 PM,2002-07-15 13:03:03,2002-07-15 13:03:28,2002-07-15 13:06:44,NaT,NaT,2002-07-15 13:27:00,94114,1,False,Potentially Life-Threatening,1,PRIVATE,1,Castro/Upper Market,"(37.7675044595983, -122.428948567606)",00:02:20,00:03:16,00:23:32,00:20:16,00:26:17,1,Medical Incident,0,0,0,0,0,1,0,0,0,0
499979,E41,Medical Incident,2002-07-15 13:01:58,07/15/2002 01:03:38 PM,2002-07-15 13:04:32,2002-07-15 13:05:09,2002-07-15 13:07:39,NaT,NaT,2002-07-15 13:41:07,94109,3,False,Potentially Life-Threatening,1,ENGINE,1,Russian Hill,"(37.7959454020039, -122.421768166879)",00:02:34,00:02:30,00:35:58,00:33:28,00:39:09,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499980,M38,Medical Incident,2002-07-15 13:01:58,07/15/2002 01:03:38 PM,2002-07-15 13:04:32,2002-07-15 13:05:39,2002-07-15 13:08:12,2002-07-15 13:16:16,NaT,2002-07-15 13:16:21,94109,3,True,Potentially Life-Threatening,1,MEDIC,2,Russian Hill,"(37.7959454020039, -122.421768166879)",00:02:34,00:02:33,00:10:42,00:08:09,00:14:23,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499981,E11,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,2002-07-15 13:11:39,2002-07-15 13:13:50,NaT,NaT,2002-07-15 15:13:19,94110,3,True,Potentially Life-Threatening,1,ENGINE,1,Mission,"(37.750643608226, -122.419135776556)",00:00:26,00:02:11,02:01:40,01:59:29,02:02:52,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499982,M07,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,2002-07-15 13:11:26,2002-07-15 13:14:49,NaT,NaT,2002-07-15 13:51:56,94110,3,True,Potentially Life-Threatening,1,MEDIC,2,Mission,"(37.750643608226, -122.419135776556)",00:00:26,00:03:23,00:40:30,00:37:07,00:41:29,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499983,RC4,Medical Incident,2002-07-15 13:10:27,07/15/2002 01:10:33 PM,2002-07-15 13:10:53,NaT,NaT,NaT,NaT,2002-07-15 13:15:27,94110,3,True,Potentially Life-Threatening,1,RESCUE CAPTAIN,3,Mission,"(37.750643608226, -122.419135776556)",00:00:26,NaT,NaT,NaT,00:05:00,1,Medical Incident,0,0,0,0,0,0,1,0,0,0
499984,E06,Medical Incident,2002-07-15 13:10:20,07/15/2002 01:11:11 PM,2002-07-15 13:11:26,2002-07-15 13:12:19,2002-07-15 13:14:06,NaT,NaT,2002-07-15 13:20:46,94110,3,False,Potentially Life-Threatening,1,ENGINE,1,Mission,"(37.7648333975842, -122.422364680364)",00:01:06,00:01:47,00:08:27,00:06:40,00:10:26,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499985,M36,Medical Incident,2002-07-15 13:10:20,07/15/2002 01:11:11 PM,2002-07-15 13:11:26,2002-07-15 13:12:08,2002-07-15 13:15:47,2002-07-15 13:35:43,NaT,2002-07-15 13:35:46,94110,3,True,Potentially Life-Threatening,1,MEDIC,2,Mission,"(37.7648333975842, -122.422364680364)",00:01:06,00:03:39,00:23:38,00:19:59,00:25:26,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499986,E09,Structure Fire,2002-07-15 13:19:14,07/15/2002 01:19:14 PM,2002-07-15 13:19:19,2002-07-15 13:20:50,2002-07-15 13:22:38,NaT,NaT,2002-07-15 13:23:20,94110,3,False,Alarm,1,ENGINE,1,Bernal Heights,"(37.7455711633416, -122.410498378711)",00:00:05,00:01:48,00:02:30,00:00:42,00:04:06,1,Structure Fire,0,0,1,0,0,0,0,0,0,0
499987,T09,Structure Fire,2002-07-15 13:19:14,07/15/2002 01:19:14 PM,2002-07-15 13:19:19,2002-07-15 13:19:43,NaT,NaT,NaT,2002-07-15 13:23:14,94110,3,False,Alarm,1,TRUCK,2,Bernal Heights,"(37.7455711633416, -122.410498378711)",00:00:05,NaT,00:03:31,NaT,00:04:00,1,Structure Fire,0,0,0,0,0,0,0,0,0,1
499988,M13,Medical Incident,2002-07-15 13:22:54,07/15/2002 01:24:04 PM,2002-07-15 13:24:50,2002-07-15 13:25:58,2002-07-15 13:41:31,2002-07-15 13:50:48,NaT,2002-07-15 13:50:51,94103,1,True,Potentially Life-Threatening,1,MEDIC,1,South of Market,"(37.7812876870909, -122.411318055371)",00:01:56,00:15:33,00:24:53,00:09:20,00:27:57,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499989,B02,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,NaT,2002-07-15 13:51:57,NaT,NaT,2002-07-15 14:31:52,94102,3,False,Potentially Life-Threatening,1,CHIEF,3,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,NaT,NaT,00:39:55,01:09:21,1,Medical Incident,0,1,0,0,0,0,0,0,0,0
499990,E36,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,2002-07-15 13:26:34,2002-07-15 13:27:36,NaT,NaT,2002-07-15 13:35:24,94102,3,False,Potentially Life-Threatening,1,ENGINE,1,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,00:01:02,00:08:50,00:07:48,00:12:53,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499991,M03,Medical Incident,2002-07-15 13:22:31,07/15/2002 01:25:08 PM,2002-07-15 13:25:22,2002-07-15 13:26:21,2002-07-15 13:29:37,2002-07-15 13:56:53,2002-07-15 14:06:36,2002-07-15 14:21:31,94102,3,True,Potentially Life-Threatening,1,MEDIC,2,Tenderloin,"(37.7759118668868, -122.418463578381)",00:02:51,00:03:16,00:55:10,00:51:54,00:59:00,0,Medical Incident,0,0,0,0,1,0,0,0,0,0
499992,M12,Medical Incident,2002-07-15 13:37:21,07/15/2002 01:41:02 PM,2002-07-15 13:43:11,2002-07-15 13:43:41,2002-07-15 13:51:28,2002-07-15 14:12:20,NaT,2002-07-15 14:45:53,94114,2,True,Potentially Life-Threatening,1,MEDIC,1,Castro/Upper Market,"(37.7627665130308, -122.429612363376)",00:05:50,00:07:47,01:02:12,00:54:25,01:08:32,1,Medical Incident,0,0,0,0,1,0,0,0,0,0
499993,E07,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:12,2002-07-15 13:46:34,NaT,NaT,2002-07-15 14:00:55,94110,3,True,Potentially Life-Threatening,1,ENGINE,1,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:03:22,00:17:43,00:14:21,00:22:54,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499994,E32,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:32,2002-07-15 13:47:20,NaT,NaT,2002-07-15 13:52:04,94110,3,False,Potentially Life-Threatening,1,ENGINE,2,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:03:48,00:08:32,00:04:44,00:14:03,1,Medical Incident,0,0,1,0,0,0,0,0,0,0
499995,M43,Medical Incident,2002-07-15 13:38:01,07/15/2002 01:41:17 PM,2002-07-15 13:42:15,2002-07-15 13:43:30,2002-07-15 13:48:29,NaT,NaT,2002-07-15 14:15:55,94110,3,True,Potentially Life-Threatening,1,MEDIC,3,Bernal Heights,"(37.7433946152786, -122.42000112094)",00:04:14,00:04:59,00:32:25,00:27:26,00:37:54,1,Medical Incident,0,0,0,0,1,0,0,0,0,0